
{% if results|length > 0 %}
<p>Found {{ results|length }} {% if results|length == 1 %} result {% else %} results {% endif %}</p>
<div class="grid grid-cols-2 md:grid-cols-3 gap-3 justify-between">
    {% for res in results %}
        {% if res.type == "opportunity" %}
            {% include "opp-card.html" with opp=res%}
        {% elif res.type == "organisation" %}
            {% include "org-card.html" with org=res%}
        {% endif %}
    {% endfor %}
</div>
{% else %}
<p>No results found</p>
{% endif %}


