{% extends 'commonui/base.html' %}

{% block page_content %}


<div class="p-5 bg-secondary rounded-xl mb-3">
<p class="text-2xl font-bold mb-3">{{ superform.name }}</p>
<p class="text-lg mb-3">{{ superform.description }}</p>
</div>
<form>
    {% csrf_token %}

    <div class="rounded-xl p-5 bg-base-300 mb-5">
        <input type="hidden" name="superform_id" value="{{ superform.id }}">
        <div class="flex flex-col">
            <label for="first_name" class="mr-3">First Name</label>
            <input type="text" name="first_name" placeholder="First Name" class="input input-bordered w-full mb-3" required>
        </div>

        <div class="flex flex-col">
            <label for="last_name" class="mr-3">Last Name</label>
            <input type="text" name="last_name" placeholder="Last Name" class="input input-bordered w-full mb-3" required>
        </div>

        <div class="flex flex-col">
            <label for="preferred_name" class="mr-3">Preferred Name</label>
            <input type="text" name="preferred_name" placeholder="Preferred Name" class="input input-bordered w-full mb-3">
        </div>

        <div class="flex flex-col">
            <label for="date_of_birth" class="mr-3">Date of Birth</label>
            <input type="date" name="date_of_birth" placeholder="Date of Birth" class="input input-bordered w-full mb-3" required>
        </div>

        <div class="flex flex-col">
            <label for="phone_number" class="mr-3">Phone Number</label>
            <input type="text" name="phone_number" placeholder="Phone Number" class="input input-bordered w-full mb-3" required>
        </div>

        <div class="flex flex-col">
            <label for="email" class="mr-3">Email</label>
            <input type="email" name="email" placeholder="Email" class="input input-bordered w-full mb-3" required>
        </div>

        <div class="flex flex-col">
            <p>Preferred Contact Method</p>
            <label class="cursor-pointer">
                <input type="radio" name="contact_method" value="email" class="radio radio-primary mr-2" checked>
                Email
            </label>
            <label class="cursor-pointer">
                <input type="radio" name="contact_method" value="phone" class="radio radio-primary mr-2">
                Phone
            </label>
            <label class="cursor-pointer">
                <input type="radio" name="contact_method" value="sms" class="radio radio-primary mr-2">
                SMS
            </label>
        </div>
        
        <div class="flex flex-col">
            <label for="post_code" class="mr-3">Post Code</label>
            <input type="text" name="post_code" placeholder="Post Code" class="input input-bordered w-full mb-3">
        </div>

    </div>


{% for form in forms%}
        <div class="rounded-xl p-5 bg-base-300 mb-5">
            {% if superform.show_form_titles or superform.show_form_descriptions %}
            <div class="p-5 bg-base-200 rounded-xl mb-3">
                {% if superform.show_form_titles%}<p class="text-2xl font-bold mb-3">{{ form.form.name }}</p>{% endif %}
                {% if superform.show_form_descriptions%}<p class="text-lg mb-3">{{ form.form.description }}</p>{% endif %}
            </div>
            <div class="divider"></div>
            {% endif %}
            
            {% for question in form.questions %}
                <div class="p-5 bg-secondary rounded-xl mb-3">
                    {% if question.question.question_type == "text" %}
                    {% include "forms/form_elements/text.html" %}
                    {% elif question.question.question_type == "multi_choice" %}
                    {% include "forms/form_elements/multi-choice.html" %}
                    {% elif question.question.question_type == "boolean" %}
                    {% include "forms/form_elements/boolean.html" %}
                    {% endif %}
                </div>
            {% endfor %}
    </div>
    {% endfor %}
<button class="btn btn-primary" hx-post="/forms/{{form.id}}/submit/" hx-target="#response_div" hx-swap="outerHTML">Submit</button>
</form>
{%endblock%}