{% extends 'commonui/base.html' %}

{% block page_content %}



<div class="font-[roboto] max-w-[90vw] w-[640px] m-auto text-wrap" style="overflow-wrap: break-word;">

{% if superform.photo %}
    <div class="flex flex-col md:flex-row rounded-[8px] p-5 bg-white border border-gray-300 mb-5 items-center justify-center">
        <img src="/media/{{ superform.photo }}" alt="From Banner" class="w-full object-contain p-3 max-h-96">
    </div>
{% endif %}

<div class="p-5  bg-white border border-t-8 border-t-[#627fbb] border-gray-300 rounded-lg mb-3">
    <p class="text-[24pt]  mb-3">{{ superform.name }}</p>
    <p class="text-[11pt] mb-3 w-full">{{ superform.description|linebreaksbr  }}</p>
    <p class="text-[14px] mb-3 w-full text-red-600">* Indicates required question</p>
</div>
<form action="/forms/register/{{superform.id}}/submit/" method="POST" class="mb-5">

    {% csrf_token %}


    <div class="">
        <input type="hidden" name="superform_id" value="{{ superform.id }}">



        <div class="flex flex-col rounded-[8px] p-5 bg-white border border-gray-300 mb-5">
            <label class="text-[12pt] mb-3" for="first_name" class="mr-3">First Name <span class="text-red-600 font-bold">*</span></label>
            <input type="text" maxlength="30" name="first_name" placeholder="Your Answer" class="input rounded-none border-b-gray-300 w-full mb-3 md:w-1/2" required>
        </div>

        <div class="flex flex-col rounded-[8px] p-5 bg-white border border-gray-300 mb-5">
            <label class="text-[12pt] mb-3" for="last_name" class="mr-3">Last Name <span class="text-red-600 font-bold">*</span></label>
            <input type="text" maxlength="30" name="last_name" placeholder="Your Answer" class="input rounded-none border-b-gray-300 w-full mb-3 md:w-1/2" required>
        </div>



        <div class="flex flex-col rounded-[8px] p-5 bg-white border border-gray-300 mb-5">
            <label class="text-[12pt] mb-3" for="date_of_birth" class="mr-3">Date of Birth <span class="text-red-600 font-bold">*</span></label>
            <input type="date" name="date_of_birth" placeholder="Your Answer" class="input rounded-none border-b-gray-300 w-full mb-3 md:w-1/2" required>
        </div>

        <div class="flex flex-col rounded-[8px] p-5 bg-white border border-gray-300 mb-5">
            <label class="text-[12pt] mb-3" for="phone_number" class="mr-3">Phone Number <span class="text-red-600 font-bold">*</span></label>
            <input type="tel" maxlength="11" value="" name="phone_number" placeholder="Your Answer" class="input rounded-none border-b-gray-300 w-full mb-3 md:w-1/2" minlength="11" required>
        </div>

        <div class="flex flex-col rounded-[8px] p-5 bg-white border border-gray-300 mb-5">
            <label class="text-[12pt] mb-3" for="email" class="mr-3">Email <span class="text-red-600 font-bold">*</span></label>
            <input type="email" maxlength="200" name="email" placeholder="Your Answer" class="input rounded-none border-b-gray-300 w-full mb-3 md:w-1/2" required>
        </div>

        <div class="flex flex-col rounded-[8px] p-5 bg-white border border-gray-300 mb-5">
            <p class="text-[12pt] mb-3">Preferred Contact Method</p>
            <label class="cursor-pointer flex items-center mb-2">
                <input type="checkbox" name="contact_method" value="email" class="checkbox mr-2" checked>
                Email
            </label>
            <label class="cursor-pointer flex items-center mb-2">
                <input type="checkbox" name="contact_method" value="phone" class="checkbox mr-2">
                Phone
            </label>
            <label class="cursor-pointer flex items-center mb-2">
                <input type="checkbox" name="contact_method" value="whatsapp" class="checkbox mr-2">
                WhatsApp
            </label>
        </div>
        
        <div class="flex flex-col rounded-[8px] p-5 bg-white border border-gray-300 mb-5">
            <label class="text-[12pt] mb-3" for="post_code" class="mr-3">Post Code <span class="text-red-600 font-bold">*</span></label>
            <input type="text" maxlength="10" name="post_code" placeholder="Your Answer" class="input rounded-none border-b-gray-300 w-full mb-3 md:w-1/2" required>
        </div>

        {% if roles %}
            <div class="flex flex-col rounded-[8px] p-5 bg-white border border-gray-300 mb-5">
                <label class="text-[12pt] mb-3" for="post_code" class="mr-3">Please select the options you can volunteer for: <span class="text-red-600 font-bold">*</span></label>
                {% for role in roles %}
                    <label class="cursor-pointer flex items-center mb-2">
                        <input type="checkbox"
                               value="email"
                               class="checkbox mr-2"
                               {% if superform.opportunity_to_register.rota_config == 'PER_ROLE' %}
                                hx-trigger="change"
                                hx-post="/opportunities/{{ superform.opportunity_to_register.id }}/get_superform_dates/"
                                hx-target="#deduplicated_dates"
                                hx-swap="innerHTML"
                                hx-disabled-elt="#submit-button"
                                {% endif %}
                                name="roles_{{ role.id }}"
                                id="{{ role.id }}"/>

                        {{ role.name }}
                    </label>
                {% endfor %}
            </div>

            <div id="deduplicated_dates">
                {% include "forms/partials/date_picker.html" %}
            </div>

        {% endif %}

    </div>


{% for form in forms%}
        <div class="">
            {% if superform.show_form_titles or superform.show_form_descriptions %}
            <div class="p-5 bg-white border border-gray-400 rounded-[8px] mb-3">
                {% if superform.show_form_titles%}<p class="text-2xl font-bold mb-3">{{ form.form.name }}</p>{% endif %}
                {% if superform.show_form_descriptions%}<p class="text-lg mb-3">{{ form.form.description }}</p>{% endif %}
            </div>
            <div class="divider"></div>
            {% endif %}
            
            {% for question in form.questions %}
                <div class="p-5 bg-white border border-gray-300 rounded-lg mb-3">
                    {% if question.question.question_type == "text" %}
                    {% include "forms/superform/text.html" %}
                    {% elif question.question.question_type == "multi_choice" %}
                    {% include "forms/superform/multi-choice.html" %}
                    {% elif question.question.question_type == "boolean" %}
                    {% include "forms/superform/boolean.html" %}
                    {% endif %}
                </div>
            {% endfor %}
    </div>
    {% endfor %}
<button id="submit-button" class="btn bg-[#5576b6] text-white mb-5" >Submit</button>
</form>
</div>
{%endblock%}