<!-- rota/rota_opp_index.html -->
{% extends 'org_admin/navigation_template.html' %}

{% block page_content %}

    <div class="flex flex-col space-y-4">



    <div class="flex items-start justify-between">
        <div class="flex flex-col space-y-2">
            <p class="text-2xl font-bold mb-3">Rota for: {{ opportunity.name }}</p>
            <p class="text-slate-400">
            Use this screen to manage your opportunities schedule and roles. Once you have approved registrations, use the "Assign shifts" button to assign shifts and get responses from volunteers.
            </p>
        </div>


        <button
            hx-get="/org_admin/rota/assign/{{ opportunity.id }}/"
            hx-target=".htmx-navigator"
            hx-swap="outerHTML"
            hx-disabled-elt="this"
            class="btn btn-primary btn-sm">
            Assign Shifts
        </button>
    </div>



    <div class="divider"></div>

    {% if error %}
        {% include "commonui/error.html" %}
    {% endif %}
    {% if success %}
        {% include "commonui/success.html" %}
    {% endif %}

    {% if opportunity.rota_config == "SHARED" %}

    <div class="flex flex-col p-5 bg-base-200 rounded-md mb-3">
        <div class="flex items-center justify-between">
            <p class="text-2xl font-bold">Schedules</p>
            <div>
            <button
                hx-get="/org_admin/rota/schedule/new/{{ opportunity.id }}/"
                hx-target=".htmx-navigator"
                hx-swap="outerHTML"
                class="btn btn-primary btn-sm">
                New Schedule
            </button>
            <button
                hx-get="/org_admin/rota/schedule/import/{{ opportunity.id }}/"
                hx-target=".htmx-navigator"
                hx-swap="outerHTML"
                class="btn btn-primary btn-sm">
                Import CSV
            </button>
                </div>
        </div>

    <div class="divider"></div>



        {% if schedules|length > 0 %}
            <table class="w-full table table-sm">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for schedule in schedules %}
                    <tr class="hover:bg-base-300 border-b border-base-300">
                        <td>{{ schedule.date }}</td>
                        <td>{{ schedule.start_time|time:"H:i" }}</td>
                        <td>{{ schedule.end_time|time:"H:i" }}</td>
                        <td>
                            <button
                                    class="btn btn-primary btn-sm"
                                    hx-get="/org_admin/rota/schedule/{{ schedule.id }}/"
                                    hx-target=".htmx-navigator"
                                    hx-swap="outerHTML"
                            >Edit</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>


            </table>

        {% else %}
            <p>No schedules found.</p>
        {% endif %}
    </div>

{% endif %}

<div class="flex flex-col p-5 bg-base-200 rounded-md">
    <div class="flex items-center justify-between">
        <p class="text-2xl font-bold">Roles</p>
        <button
            hx-get="/org_admin/rota/role/new/{{ opportunity.id }}/"
            hx-target=".htmx-navigator"
            hx-swap="outerHTML"
            class="btn btn-primary btn-sm">
            New Role
        </button>
    </div>

    <div class="divider"></div>

    <table class="w-full table table-sm">
        <thead>
            <tr>
                <th>Role</th>
                <th>Number of volunteers</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
                    <tr class="hover:bg-base-300 border-b border-base-300">
                        <td>{{ role.name }}</td>
                        <td>{{ role.required_volunteers }}</td>
                        <td>
                            <button
                                hx-get="/org_admin/rota/role/{{ role.id }}/"
                                hx-target=".htmx-navigator"
                                hx-swap="outerHTML"
                                class="btn btn-primary btn-sm">
                                Edit
                            </button>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    <div class="divider"></div>

    <div class="flex flex-col p-5 bg-base-200 rounded-md">
        <p class="text-2xl font-bold">Switch scheduling mode</p>
    <div class="divider"></div>
        {% if opportunity.rota_config == "SHARED"%}
        <p>You are currently using shared scheduling. This allows you to define a set of dates that are shared between all roles</p>
        {% else %}
        <p>You are currently using per-role scheduling. Each role has its own set of dates</p>
        {% endif %}


        <button
                hx-get="/org_admin/rota/toggle_rota_type/{{ opportunity.id }}/"
                hx-target=".htmx-navigator"
                hx-swap="outerHTML"
                class="btn btn-primary btn-sm mt-3">
                {% if opportunity.rota_config == "SHARED"%}
            Switch to per role scheduling
            {% else %}
            Switch to shared scheduling
            {% endif %}
        </button>
    {% if opportunity.rota_config == "SHARED"%}
       <button
                hx-get="/org_admin/rota/toggle_rota_type/{{ opportunity.id }}/copy/"
                hx-target=".htmx-navigator"
                hx-swap="outerHTML"
                class="btn btn-primary btn-sm mt-3">

            Switch to per role scheduling and copy dates

        </button>
    {% endif %}


    </div>


    </div>

{% endblock %}