<!-- rota/schedule_editor.html -->
<div class="flex flex-col p-5 rounded-md  bg-gray-800">

    <div>
        <p>Start Time:</p>
        <p>End Time:</p>
    </div>

    <div class="divider"></div>

    <p>This schedule repeats:</p>
    <select id="schedule" name="schedule" class="select select-bordered">
        <option value="one-off">One-Off</option>
        <option value="daily">Daily</option>
        <option value="weekly">Weekly</option>
        <option value="monthly">Monthly</option>
    </select>

    <div class="divider"></div>

    <div id="one-off-schedule">
        <p>Date: </p>
    </div>

    <div id="repeating-schedule">
        <p>Start date: </p>
        <p>End Date: </p>
    </div>

    <div id="weekly-schedule">
        <p>on Days:</p>
    </div>

</div>