{% extends "commonui/navigation-template.html" %}

{% block page_content %}


<div>
    <div class="w-full">
        <div class="card shadow-lg p-3">
            <h1 class="text-2xl font-bold mb-3">Communications</h1>
            {% if chats %}
            {% for chat in chats %}

            <div class="card w-full bg-base-200 mb-3">
                <div class="card-body p-5">
                    <div class="card-actions items-center">
                        <p class="text-2xl font-bold">{% if chat.chip_in_admins_chat%}Chip In{%else%}{{ chat.organisation.name }}{%endif%}</p>
                        <a class="btn btn-primary" href="/communications/{{ chat.id }}">Open Chat</a>
                    </div>
                </div>
             </div>
            {% endfor %}
        </div>

        {% else %}

        <p>You have not communicated with any organisations yet</p>

        {% endif %}
    </div>
</div>

{% include "navbar.html" %}

{% endblock %}