{% load compress %}
{% load static %}
{% load pwa %}
{% load webpush_notifications %}

<!DOCTYPE html>
{% if not hx or hx == False %}
<html lang="en" class="bg-[#e7ecf5]" style="height: 100%" data-theme="bumblebee">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <title>{% if page_title %}{{ page_title }}{% else %}Chip In{% endif %}</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}
    {% progressive_web_app_meta %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>

  <body class="h-full " data-loading-class="hidden">
    <div class="d-flex flex-column">
      <div class="relative">

      {% endif %}

        <div
          class="z-0 relative htmx-navigator mx-5 md:mx-20 xl:mx-40 2xl:mx-80 my-20"
          hx-ext="remove-me"
        >
          {% block page_content %} {% endblock %}
        </div>
      

      {% if not hx or hx == False %} 
    </div>
    
    </div>

          <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
    
  </body>
</html>
{% endif %}
