{% extends "commonui/navigation-template.html" %}

{% block page_content %}


{% if user.is_authenticated %}
<div class="mb-5">
  <p class="text-2xl font-bold">Welcome, {{ user.first_name }}</p>
  <p>Explore opportunitites on chip in</p>
</div>
{% endif %}


<div>
  {% if organisations %}
  <h1 class="flex-none text-xl pb-0 font-semibold ">
    Featured Organisations
  </h1>

  <div class="carousel carousel-center w-full p-4 space-x-4 rounded-box">
    {% for org in organisations %} {% include "org-card.html" %} {% endfor %}
  </div>

  {% endif %} {% if opportunities %}

  <h1 class="flex-none text-xl pb-0 font-semibold">
    Featured Opportunities
  </h1>

  <div class="carousel carousel-center w-full p-4 space-x-4 rounded-box">
    {% for opp in opportunities %} {% include "opp-card.html" %} {% endfor %}
  </div>

  {% endif %}
</div>
{% include "navbar.html" %} {% endblock %}
