{% extends "commonui/navigation-template.html" %}

{% block page_content %}


{% if user.is_authenticated %}
<div class="mb-5">
  <p class="text-2xl font-bold">Welcome, {{ user.first_name }}</p>
  <p>Explore opportunitites on chip in</p>
</div>
{% else %}

<div class="bg-secondary rounded-xl p-5 text-base sm:text-xl md:text-2xl mb-3">
<span class="font-bold">Welcome to Chip In!</span><br>
Chip in is a place-based volunteering project for young people from the borough of Blackburn with Darwen, with mentoring at the heart.
<br><br>
We have teamed up with local organisations to offer a diverse and high quality selection of volunteering opportunities where you can learn new skills, develop and grow. 
<br><br>
Chip in is not just about volunteering, this project’s passion is about people, real people, people and communities.
<br><br>
Building, supporting, connecting, upskilling. Investing.
<br><br>
Have a look at what we can offer, if you need some support or are not sure what you may be interested in please get in touch to see how we can support you.
<br><br>

Start by <a href="/volunteer/" class="text-primary">logging in</a> or <a href="/create_account" class="text-primary">signing up</a> to explore opportunities and organisations in your area.
</div>
{% endif %}

<!--
<div>
  {% if organisations %}
  <h1 class="flex-none text-xl pb-0 font-semibold ">
    Organisations
  </h1>
  <div class="relative">
      <div id="left_button" class="opacity-90 absolute left-0 top-1/2 transform -translate-y-1/2 z-50" hx-on:click="document.getElementById('org_carousel').scrollLeft = document.getElementById('org_carousel').scrollLeft - 500">
        <button class="flex items-center justify-center w-10 h-10 bg-base-100 rounded-full" onclick="">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
          </svg>
        </button>
      </div>
    <div id="right_button" class="opacity-90 absolute right-0 top-1/2 transform -translate-y-1/2 z-50" hx-on:click="document.getElementById('org_carousel').scrollLeft = document.getElementById('org_carousel').scrollLeft + 500">
      <button class="flex items-center justify-center w-10 h-10 bg-base-100 rounded-full" onclick="">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
        </svg>
      </button>
    </div>
    <div id="org_carousel" class="carousel carousel-center w-full py-4 space-x-4 rounded-box">
      {% for org in organisations %} {% include "org-card.html" %} {% endfor %}
    </div>
  </div>

  {% endif %} {% if opportunities %}
-->

  <h1 class="flex-none text-xl pb-0 font-semibold">
    Opportunities
  </h1>

  <div class="relative">
    <div id="left_button" class="opacity-90 absolute left-0 top-1/2 transform -translate-y-1/2 z-50" hx-on:click="document.getElementById('opp_carousel').scrollLeft = document.getElementById('opp_carousel').scrollLeft - 500">
      <button class="flex items-center justify-center w-10 h-10 bg-base-100 rounded-full" onclick="">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
        </svg>
      </button>
    </div>
    <div id="right_button" class="opacity-90 absolute right-0 top-1/2 transform -translate-y-1/2 z-50" hx-on:click="document.getElementById('opp_carousel').scrollLeft = document.getElementById('opp_carousel').scrollLeft + 500">
      <button class="flex items-center justify-center w-10 h-10 bg-base-100 rounded-full" onclick="">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
        </svg>
      </button>
    </div>
    <div id="opp_carousel" class="carousel carousel-center w-full py-4 space-x-4 rounded-box">
      {% for opp in opportunities %} {% include "opp-card.html" %} {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="flex flex-col mt-5">
    <p class="text-center">
      Chip in is a partnership project with The Bureau Centre for the Arts, Community CVS, Blackburn with Darwen Borough Council, The Making Rooms and the creative sectors in the borough. 
    </p>

    <div class="divider"></div>
  
    <div class="flex flex-wrap items-center justify-between">
      <img src="static/images/bureau.png" alt="The Bureau Centre for the Arts" class="w-auto h-20 m-3 dark:invert">
      <img src="static/images/cvs.png" alt="Community CVS" class="w-auto h-20 m-3">
      <img src="static/images/bwd.png" alt="Blackburn with Darwen Borough Council" class="w-auto h-20 m-3 dark:invert">
      <img src="static/images/tmr.png" alt="The Making Rooms" class="w-auto h-20 m-3">
      <img src="static/images/dcm.jfif" alt="Department for culture, meida and sport" class="w-auto h-20 m-3 dark:invert">
  
    </div>

</div>




</div>


{% include "navbar.html" %} 

{% endblock %}
