{% load compress %}
{% load static %}
<!doctype html>
{% if not hx or hx == False  %}
    <html lang="en" class="" style="height: 100%;">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Volunteering System - {{ url_name }}</title>
            {% compress css %}
            <link rel="stylesheet"
                href="{% static 'src/output.css' %}">
            {% endcompress %}
        </head>

        <body style="height: 100%;">
{% endif %}

            <div class="d-flex flex-column h-100">
                {% include "topbar.html"%}
            
            
                {% block page_content %}
            
            
                {% endblock %}
            
            
                {% include "navbar.html"%}
            </div>

            <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
        
{% if not hx or hx == False %}    

        </body>
    </html>
{% endif %}


