{% extends 'commonui/navigation-template.html' %}
{% block page_content %} 
{% if validlink %}
{% if form.errors %}
<div id="form_errors">
  {% for key, value in form.errors.items %}
  <div role="alert" class="alert alert-error">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="stroke-current shrink-0 h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    <span>{{ value }}</span>
  </div>
  {% endfor %}
</div>
{% endif %}

<div class="w-full">
  <div class="card shadow-lg p-3">
    <h1 class="text-2xl font-bold text-center mb-3">Reset Password</h1>
    <form method="POST">
      {% csrf_token %}
      <input
        class="input input-bordered mb-3"
        type="password"
        name="new_password1"
        autocomplete="new-password"
        class="form-control"
        required
        id="id_new_password1"
        placeholder="Enter password"
      />

      <input
      class="input input-bordered mb-3"
        type="password"
        name="new_password2"
        autocomplete="new-password"
        required
        id="id_new_password2"
        class="form-control"
        placeholder="Confirm password"
      />

      <button
        type="submit"
        class="btn btn-primary w-full mt-3"
      >
        Reset
      </button>
    </form>
  </div>
</div>
{% else %}
<div class="w-full">
  <div class="card shadow-lg p-3">
    <h1 class="text-2xl font-bold text-center mb-3">Invalid Link</h1>
    <p class="text-center">
      The link you are trying to use is invalid or has expired. Please request
      a new link.
    </p>
  </div>
</div>
{% endif %}

{% endblock %}
