{% extends "commonui/navigation-template.html" %} 
{% block page_content %}

<div class="prose prose-lg mx-auto my-8">
    <h1 class="text-2xl font-bold mb-4">Data Privacy Notice</h1>
    
    <h2 class="text-xl font-semibold mt-6 mb-2">The Purpose we collect the data:</h2>
    <p>Data will be captured and shared for the purpose of helping and supporting residents to actively volunteer or learn with different organisations across Blackburn with Darwen. The information will be shared with volunteer involving organisations across the charitable and public sectors who form part of the Blackburn with Darwen Chip in Partnership and other volunteer and learning partnerships within Blackburn with Darwen. The data will be held on volunteer databases and websites owned and managed by Community CVS and/or Blackburn with Darwen Borough Council.</p>
    
    <h2 class="text-xl font-semibold mt-6 mb-2">The categories of data we collect:</h2>
    <p>Resident contact information, socio-economic characteristics and associated information relating to volunteering and learning, including:</p>
    <ul class="list-disc list-inside">
        <li>Name</li>
        <li>Address including post code</li>
        <li>Contact details</li>
        <li>Date of Birth</li>
        <li>Gender</li>
        <li>Ethnicity</li>
        <li>Disability and Health Status</li>
        <li>Religion</li>
        <li>Sexual Orientation</li>
        <li>Economic Status</li>
        <li>Reasons for volunteering and/or learning</li>
        <li>Skills and Qualifications Profile and Curriculum Vitae</li>
        <li>DBS checks, references and safeguarding data</li>
        <li>Volunteering and/or learning interests & availability</li>
        <li>Volunteer and learning journeys across different organisations</li>
    </ul>
    <p>In addition, contact data and information of staff and volunteers within volunteer involving organisations across Blackburn with Darwen will be captured and shared with residents to enable residents to connect with volunteering and learning opportunities within their organisations.</p>
    
    <h2 class="text-xl font-semibold mt-6 mb-2">Processing Conditions:</h2>
    <p>We will process your personal data under the following processing conditions within the General Data Protection Regulation 2016:</p>
    <ul class="list-disc list-inside">
        <li>Article 4 (11) – Consent</li>
        <li>Article 9 (2)(a) – Explicit Consent</li>
    </ul>
    
    <h2 class="text-xl font-semibold mt-6 mb-2">Who we share the information with:</h2>
    <p>The following list will change periodically as more volunteer involving organisations join the partnerships. An up-to-date list will be available on our website <a href="http://www.communitycvs.org.uk" class="text-blue-600 underline">www.communitycvs.org.uk</a></p>
    <ul class="list-disc list-inside">
        <li>Blackburn Foodbank</li>
        <li>Blackburn Library</li>
        <li>Blackburn Museum</li>
        <li>Blackburn Rovers Community Trust</li>
        <li>Blackburn Youth Zone</li>
        <li>Blackburn with Darwen Young People’s Service</li>
        <li>Bolton Music Service</li>
        <li>Darwen Library</li>
        <li>Festival of Making CIC</li>
        <li>Lancashire Wildlife Trust</li>
        <li>Refresh: Blackburn</li>
        <li>Super Slow-Way</li>
        <li>The Bureau for the Arts CIC</li>
        <li>The Making Rooms CIC</li>
        <li>Turton Tower</li>
    </ul>
    
    <h2 class="text-xl font-semibold mt-6 mb-2">How long we hold the data:</h2>
    <p>We will retain the information for the Current year +7.</p>
    
    <h2 class="text-xl font-semibold mt-6 mb-2">Automated Decisions:</h2>
    <p>For this service all the decisions we make about you involve human interventions.</p>
    
    <h2 class="text-xl font-semibold mt-6 mb-2">Rights of individuals:</h2>
    <p>If you have any queries relating to the way we are processing your information, you may contact Community CVS’s Data Protection Officer – Clair Bloomfield on 01254 583957 or alternatively email <a href="mailto:clair.bloomfield@communitycvs.org.uk" class="text-blue-600 underline">clair.bloomfield@communitycvs.org.uk</a></p>
    <p>These queries may be regarding (but not limited to) exercising your rights in relation to the following:</p>
    <ul class="list-disc list-inside">
        <li>Access to personal data</li>
        <li>Right to rectification</li>
        <li>Right to erasure (The right to be forgotten unless there is a legal obligation to refuse this request)</li>
        <li>Right to restriction of processing</li>
        <li>Right to data portability</li>
        <li>Right to object to profiling</li>
        <li>Raising a concern with us, or</li>
        <li>Guidance on making a complaint to the Information Commissioner</li>
    </ul>
    
    <h2 class="text-xl font-semibold mt-6 mb-2">Updates to this Privacy Notice:</h2>
    <p>We may update or revise this Privacy Policy at any time so please refer to the version published on our website for the most up to date details <a href="http://www.communitycvs.org.uk" class="text-blue-600 underline">Privacy notice – Community CVS</a></p>
</div>

{% endblock %}