{% extends 'org_admin/navigation_template.html' %}

{% block page_content %}

{% if error %}
{% include "commonui/error.html" %}
{% endif %}


<div class="p-5 bg-secondary rounded-xl mb-3">
<p class="text-2xl font-bold mb-3">{{ form.name }}</p>
<p class="text-lg mb-3">{{ form.description }}</p>
{% if custom_respondee %}<p>You are filling this form on behalf of a volunteer</p>{% endif %}
</div>
<form>
    {% csrf_token %}
{% for question in questions %}
    <div class="p-5 bg-secondary rounded-xl mb-3">
        {% if question.question.question_type == "text" %}
        {% include "forms/form_elements/text.html" %}
        {% elif question.question.question_type == "multi_choice" %}
        {% include "forms/form_elements/multi-choice.html" %}
        {% elif question.question.question_type == "boolean" %}
        {% include "forms/form_elements/boolean.html" %}
        {% endif %}
    </div>
{% endfor %}

<div id="response_div"></div>
{% if custom_repondee %}
<button class="btn btn-primary" hx-post="/forms/{{form.id}}/submit/{{custom_respondee}}" hx-target="#response_div" hx-swap="outerHTML">Submit</button>
{% else %}
<button class="btn btn-primary" hx-post="/forms/{{form.id}}/submit/" hx-target="#response_div" hx-swap="outerHTML">Submit</button>
{% endif %}
</form>

{%endblock%}