{% extends 'org_admin/navigation_template.html' %}

{% block page_content %}

<p class="text-2xl font-bold mt-5">Responses for form {{form.name}}</p>
    
    {% if error %}
    {% include "commonui/error.html" %}
    {% endif %}

    {% if success %}
    {% include "commonui/success.html" %}
    {% endif %}


    <p>Number of responses: {{ responses|length }}</p>

    <table class="table">
        <thead>
            <tr>
                <th>Response ID</th>
                <th>Response Date</th>
                <th>Name of respondent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for response in responses %}
            <tr>
                <td>{{ response.id }}</td>
                <td>{{ response.response_date }}</td>
                <td>{{ response.user.first_name }} {{response.user.last_name}}</td>
                <td>
                    <button class="btn btn-primary btn-sm" hx-push-url="true" hx-get="/org_admin/forms/response/{{response.id}}/" hx-target=".htmx-navigator" hx-swap="outerHTML">View</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>




{% endblock %}