<div id="redirect_div"></div>

<form class="p-2">
  {% csrf_token %}

    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 p-5 rounded-xl bg-base-300">

      <div class="md:col-span-2">
        <p class="font-bold text-xl">Some information about you:</p>
    <div class="divider"></div>
      </div>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">First Name</span>
      </div>
      <input value="{{ user.first_name }}" name="first_name" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Last Name</span>
      </div>
      <input value="{{ user.last_name }}" name="last_name" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Post Code:</span>
      </div>
      <input name="post_code" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
    </label>

    <label class="form-control w-full md:col-span-2">
      <div class="label">
        <span class="label-text">Date of Birth</span>
      </div>
      <input
    type="date"
    value="{{ volunteer.date_of_birth|date:"Y-m-d" }}"
    class="form-control input input-bordered w-full col-span-2"
    id="date_of_birth"
    placeholder="Date of Birth (DD/MM/YYYY)"
    name="date_of_birth"
  />
    </label>

  

    <label class="form-control w-full md:col-span-2">
      <div class="label">
        <span class="label-text">Phone Number</span>
      </div>
      <input value="{{ volunteer.phone_number }}" name="phone_number" type="text" placeholder="Type here" class="input input-bordered w-full" />
    </label>

  </div>
  
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2 p-5 rounded-xl bg-base-300 mt-5">

    <div class="md:col-span-2 w-full">
      <p class="font-bold text-xl">Add an emergency contact:</p>
      <div class="divider"></div>
    </div>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Contact Full Name</span>
      </div>
      <input type="text"name="emergency_contact_name" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Relation</span>
        </div>
        <input type="text" name="emergency_contact_relation" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Phone Number</span>
        </div>
        <input type="text" name="emergency_contact_phone_number" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Email</span>
        </div>
        <input type="text" name="emergency_contact_email" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
    </label>
  </div>


    <!--
    <label class="form-control w-full col-span-2">
      <div class="label">
        <span class="label-text">Tell us about yourself in a few words</span>
      </div>
      <textarea name="bio" class="textarea h-24 textarea-bordered w-full" placeholder="Type here">{{ volunteer.bio }}</textarea>
-->
<div class="divider"></div>

{% if initial_onboarding %}
<div class="form-control w-full col-span-2">
  <div class="label">
    <span class="font-bold">Choose some organisations you are interested in:</span>
  </div>
  {% for organisation in organisations %}
    <label class="cursor-pointer">
      <input
        type="checkbox"
        name="followed_organisations"
        value="{{ organisation.id }}"
        class="checkbox"
      />
      <span class="ml-2">{{ organisation.name }}</span>
    </label>
  {% endfor %}
</div>
<div class="divider"></div>
{% endif %}



  <a
    href="#"
    class="btn btn-primary col-span-2"
    hx-post="/volunteer/volunteer_form/"
    hx-swap="outerHTML transition:true"
    hx-target="#redirect_div"
    >Save</a
  >
</form>

<div class="card-header" hx-swap-oob="innerHTML:.card-header">
  Name and Address
</div>
