{% extends "commonui/navigation-template.html" %} {% block page_content %}

<div class="w-full rounded-xl mb-5">
  <style>
    .splide__slide img {
      width: 100%;
      height: auto;
    }

    .splide__arrow:disabled {
      display: none;
    }
  </style>


  <section id="image-carousel" class="splide" aria-label="Beautiful Images">
    <div class="splide__track">
      <ul class="splide__list">
        {% for image in images %}
        <li class="splide__slide">
          <img src="{{image.image.url}}" alt="" />
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>



  <script>
    var isLoaded = false;

    function initSplide(){
      if(isLoaded){
        return;
      }

      new Splide("#image-carousel", {
        heightRatio: 0.5,
      }).mount();
      isLoaded = true;
    }
    
    document.addEventListener("htmx:afterSettle", function () {
      initSplide();
    });

    document.addEventListener("DOMContentLoaded", function () {
      initSplide();
    });
    
  </script>


</div>

<div class="card w-full bg-base-300 shadow-xl mb-5">
  <div class="card-body">
    <div class="flex">
    {% if organisation.logo %} <img src="{{ organisation.logo.url }}" alt="" class="w-24 h-24 rounded-md mr-5" /> {% endif %}
    <h2 class="card-title">{{ organisation.name }}</h2>
    </div>
    <div class="divider"></div>
    <p>{{ organisation.description }}</p>
    <div class="divider"></div>
    <div class="card-actions justify-center">
      <button
        class="btn btn-primary"
        hx-target=".htmx-navigator"
        hx-get="/organisations/{{ organisation.id }}/create_chat/"
      >
        Ask A Question
      </button>
    </div>
  </div>
</div>

{% if links %}
<div class="card w-full bg-base-300 shadow-xl mb-5">
  <div class="card-body">
    <h2 class="card-title">Social Media Links</h2>
    <div class="divider"></div>
    <div class="card-actions justify-center">
      {% for link in links %}
      <a href="{{ link.url }}" target="_blank" class="btn btn-primary">{{ link.name }}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %} {% if locations %}
<div class="card w-full bg-base-300 shadow-xl mb-5">
  <div class="card-body">
    <h2 class="card-title">Location</h2>
    <div class="divider"></div>

    <script type="module">
      let map;

      async function initMap() {

        const { Map } = await google.maps.importLibrary("maps");
        map = new Map(document.getElementById("map"), {
          center: { lat: {{locations.0.latitude}}, lng: {{locations.0.longitude}} },
          zoom: 18,
        });

        {% for site in locations %}
        new google.maps.Marker({
          position: { lat: {{site.latitude}}, lng: {{site.longitude}} },
          map,
          title: "{{ site.name }}",
        });
        {% endfor %}

      }

      initMap();
    </script>
    <div id="map" class="w-full h-96"></div>
    <div class="divider"></div>
    <div class="card-actions justify-center">
      <button class="btn btn-primary">Check directions</button>
    </div>
  </div>
</div>
{% endif %} {% if opportunities %}

<div class="card w-full bg-base-300 shadow-xl mb-5">
  <div class="card-body">
    <h2 class="card-title">Oppertunities from this organisation</h2>
    <div class="divider"></div>

    <div class="carousel carousel-center w-full h-64 p-4 space-x-4 rounded-box">
      {% for opp in opportunities %} {% include "opp-card.html" %} {% endfor %}
    </div>
  </div>
</div>

{% endif %} {% endblock %} ```
