{% extends "commonui/navigation-template.html" %} {% block page_content %}

<div class="w-full rounded-xl mb-5">
  <style>
    .splide__slide img {
      height: 100%;
      width: auto;
      margin: 0 auto;
    }

    .splide__arrow:disabled {
      display: none;
    }
  </style>


  <section id="image-carousel" class="splide" aria-label="Beautiful Images">
    <div class="splide__track">
      <ul class="splide__list">
        {% for video in videos %}
          <li class="splide__slide" data-splide-html-video="{{video.video.url}}">
            <img src="{{video.video_thumbnail.url}}">
          </li>
        {% endfor %}
        {% for image in images %}
        <li class="splide__slide bg-black">
          <img src="{{image.image.url}}" alt="" />
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>



  <script>
    var isLoaded = false;

    function initSplide(){
      if(isLoaded){
        return;
      }

      new Splide("#image-carousel", {
        heightRatio: 0.5,
      }).mount(window.splide.Extensions);
      isLoaded = true;
    }
    
    document.addEventListener("htmx:afterSettle", function () {
      initSplide();
    });

    document.addEventListener("DOMContentLoaded", function () {
      initSplide();
    });
    
  </script>


</div>

<div class="card w-full bg-base-300 shadow-xl mb-5">
  <div class="card-body">
    <div class="flex">
    {% if organisation.logo %} <img src="{{ organisation.logo.url }}" alt="" class="w-24 h-24 rounded-md mr-5" /> {% endif %}
    <h2 class="card-title">{{ organisation.name }}</h2>
    </div>
    <div class="divider"></div>
    <p>{{ organisation.description }}</p>
    <div class="divider"></div>
    <div class="card-actions justify-center">
      <button
        class="btn btn-primary"
        hx-target=".htmx-navigator"
        hx-get="/organisations/{{ organisation.id }}/create_chat/"
      >
        Ask A Question
      </button>

      {% if interest != None%}
        <button
          class="btn btn-primary"
          hx-target=".htmx-navigator"
          hx-get="/volunteer/toggle_interest/{{ organisation.id }}/"
        >
          {% if interest == False %}
          Follow
          {% else %}
          Unfollow
          {% endif %}
        </button>
      {% endif %}
    </div>
  </div>
</div>

{% for section in sections%}
<div class="card w-full bg-base-300 shadow-xl mb-5">
  <div class="card-body">
    <h2 class="card-title">{{ section.title }}</h2>
    <div class="divider"></div> 
    <div class="card-actions">
      <p>{{ section.content }}</p>
    </div>
  </div>
</div>
{% endfor %}

{% if links %}
<div class="card w-full bg-base-300 shadow-xl mb-5">
  <div class="card-body">
    <h2 class="card-title">Social Media Links</h2>
    <div class="divider m-1"></div>
    <div class="card-actions justify-center">
      {% for link in links %}
      <a href="{{ link.url }}" target="_blank" class="dark:invert">
        {% if link.link_type.icon %}<img src="{{link.link_type.icon.url}}" alt="{{link.link_type.name}}" class="w-10 h-10 " />{% endif %}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %} {% if locations %}
<div class="card w-full bg-base-300 shadow-xl mb-5">
  <div class="card-body">
    <h2 class="card-title">Locations</h2>
    <div class="divider"></div>

    <table class="table w-full">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        {% for site in locations %}
        <tr>
          <td>{{ site.name }}</td>
          <td>{{ site.address}}</td>
          <td>
            <a href="https://www.google.com/maps/dir/?api=1&origin=&destination=b&destination_place_id={{site.place_id}}&travelmode=walking" target="_blank"><button class="btn btn-primary">Check directions</button></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="divider"></div>

    <script type="module">
      let map;

      async function initMap() {

        const { Map } = await google.maps.importLibrary("maps");
        map = new Map(document.getElementById("map"), {
          center: { lat: {{locations.0.latitude}}, lng: {{locations.0.longitude}} },
          zoom: 18,
        });

        {% for site in locations %}
        new google.maps.Marker({
          position: { lat: {{site.latitude}}, lng: {{site.longitude}} },
          map,
          title: "{{ site.name }}",
        });
        {% endfor %}

      }

      initMap();
    </script>
    <div id="map" class="w-full h-96"></div>

  </div>
</div>
{% endif %} {% if opportunities %}

<div class="card w-full bg-base-300 shadow-xl mb-5">
  <div class="card-body">
    <h2 class="card-title">Opportunities from this organisation</h2>
    <div class="divider"></div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

        {% for opp in opportunities %} 
          {% include "opp-card-compact.html" %} 
        {% endfor %}


    </div>
  </div>
</div>

{% endif %} {% endblock %} ```
