{% extends 'org_admin/navigation_template.html' %}

{% block page_content %}



<div class="flex items-center justify-between">
    <p class="text-2xl font-bol mb-5">Forms</p>

  </div>
    
    {% if error %}
    {% include "commonui/error.html" %}
    {% endif %}

    {% if success %}
    {% include "commonui/success.html" %}
    {% endif %}


    <div class="rounded-xl p-5 bg-secondary">
        <form>
            {% csrf_token %}
            <select class="select select-bordered w-full max-w-xs" name="form_id">
                {% for form in forms %}
                <option value="{{form.id}}">{{form.name}}</option>
                {% endfor %}
            </select>
            <div class="divider"></div>
            
            {% include "org_admin/volunteer_finder.html"%}
            <div class="divider"></div>
            <div class="w-full flex justify-end">
              
              <button class="btn btn-primary btn-md" hx-post="/org_admin/forms/assign_form/" hx-target=".htmx-navigator" hx-swap="outerHTML">Assign Form</button>
            </div>
            
        </form>

    </div>

{% endblock %}