{% extends "org_admin/navigation_template.html" %}

{% block page_content %}

<p class="text-2xl font-bold mt-5">Form Details</p>
{% if error %}
{% include "commonui/error.html" %}
{% endif %}

{% if success %}
{% include "commonui/success.html" %}
{% endif %}


<div class="p-3 my-3 bg-secondary rounded-xl">
    <form>
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label><br>
            <input class="input input-bordered w-full" type="text" class="form-control" id="name" name="name" value="{{ form.name }}">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control textarea textarea-bordered w-full h-24" id="description" name="description" placeholder="Type a description">{{ form.description }}</textarea>
        </div>

        <div class="flex mb-3 w-full  flex-col">
            <div class="flex items-center">
                <input type="checkbox" class="checkbox" name="allow_multiple" {% if form.allow_multiple %}checked{%endif%}>
                <label class="label cursor-pointer">Allow multiple submissions</label>
            </div>
            <div class="divider"></div>
            {% if superuser %}
            <div class="flex items-center">
                <input type="checkbox" class="checkbox" name="filled_by_organisations" {% if form.filled_by_organisation %}checked{%endif%}>
                <label class="label cursor-pointer">Filled by organisations</label>
            </div>
            <div class="flex items-center">
                <input type="checkbox" class="checkbox" name="visible_to_all" {% if form.visible_to_all %}checked{%endif%}>
                <label class="label cursor-pointer">Assignable by organisations</label>
            </div>

            <div class="divider"></div>
            <div class="flex items-center">
                <input type="checkbox" class="checkbox" name="mentor_start_form" {% if form.mentor_start_form %}checked{%endif%}>
                <label class="label cursor-pointer">Mentor start form</label>
            </div>
            <div class="flex items-center">
                <input type="checkbox" class="checkbox" name="mentor_end_form" {% if form.mentor_end_form %}checked{%endif%}>
                <label class="label cursor-pointer">Mentor end form</label>
            </div>
            <div class="flex items-center">
                <input type="checkbox" class="checkbox" name="required_on_signup" {% if form.required_on_signup %}checked{%endif%}>
                <label class="label cursor-pointer">Required on initial sign up</label>
            </div>
            <div class="divider"></div>

            {% endif %}
        </div>

        <button class="btn btn-primary btn-md" hx-post="/org_admin/forms/{{form.id}}/update/" hx-target=".htmx-navigator" hx-swap="outerHTML">Update</button>
    </form>
</div>
<button class="btn btn-primary btn-md" hx-get="/org_admin/forms/{{form.id}}/add_question/" hx-target=".htmx-navigator" hx-swap="outerHTML">Add Question</button>
<button class="btn btn-primary btn-md" hx-get="/org_admin/forms/{{form.id}}/add_boolean/" hx-target=".htmx-navigator" hx-swap="outerHTML">Add Yes/No</button>
<button class="btn btn-primary btn-md" hx-get="/org_admin/forms/{{form.id}}/add_multi_choice/" hx-target=".htmx-navigator" hx-swap="outerHTML">Add Multi Choice</button>


{% for question in questions %}

<div class="p-3 my-3 bg-secondary rounded-xl">
    <div class="flex justify-between">
        <div class="badge badge-accent">{{question.question.question_type}}</div>
        <div class="flex">
            <button class="btn bg-gray-700 btn-sm mr-3" hx-get="/org_admin/forms/{{question.question.id}}/move_down/" hx-target=".htmx-navigator" hx-swap="outerHTML">Move Up</button>
            <button class="btn bg-gray-700 btn-sm mr-3" hx-get="/org_admin/forms/{{question.question.id}}/move_up/" hx-target=".htmx-navigator" hx-swap="outerHTML">Move Down</button>
            <button class="btn bg-gray-700 btn-sm" hx-get="/org_admin/forms/{{question.question.id}}/duplicate_question/" hx-target=".htmx-navigator" hx-swap="outerHTML">Duplicate</button>
        </div>
    </div>
    <div class="divider"></div>
    <p class="text-xl font-bold">Question Details</p>
    <form>
        {% csrf_token %}
        
            <div class="flex w-full items-center">

                <div class="flex-grow mr-3">
                    <label for="question" class="form-label">Question</label><br>
                    <input class="input input-bordered w-full" type="text" class="form-control" id="question" name="question" value="{{ question.question.question }}">
                </div>
                <div class="w-24">
                    <label class="label cursor-pointer">Required</label>
                    <input type="checkbox" class="checkbox" name="required" {% if question.question.required %}checked{%endif%}>
                </div>
                <div class="w-24">
                    <label class="label cursor-pointer">Hidden</label>
                    <input type="checkbox" class="checkbox" name="hidden" {% if not question.question.enabled %}checked{%endif%}>
                </div>

                {% if question.question.question_type == "multi_choice"%}
                <div class="w-24">
                    <label class="label cursor-pointer">Multiple</label>
                    <input type="checkbox" class="checkbox" name="allow_multiple" {% if question.question.allow_multiple %}checked{%endif%}>
                </div>
                {% endif %}

                <div class="self-end">
                    <button class="btn btn-primary btn-md mr-3" hx-post="/org_admin/forms/{{question.question.id}}/save/" hx-target=".htmx-navigator" hx-swap="outerHTML">Save</button>
                    <button class="btn bg-red-600 btn-md" hx-get="/org_admin/forms/{{question.question.id}}/delete/" hx-target=".htmx-navigator" hx-swap="outerHTML">Delete</button>
                </div>
            </div>
    </form>

    {% if question.question.question_type == "multi_choice" %}
        <div class="divider"></div>
        <p class="text-xl font-bold">Options</p>
        <p>Click on an option to delete it</p>
        <form>
            {% csrf_token %}
            <input name="option" type="text" placeholder="Type to add an option" class="input input-bordered w-full max-w-xs mb-3" />
            <button class="btn bg-green-600" hx-target=".htmx-navigator" hx-post="/org_admin/forms/{{question.question.id}}/add_option/" hx-swap="outerHTML" >Add</button>
        </form>
        <div class="flex flex-wrap">
            {% for option in question.options %}
            <a href="/org_admin/forms/{{option.id}}/delete_option/"><div class="badge badge-primary mx-1">{{ option.option }}</div></a>
            {% endfor %}
        </div>
        {% endif %}

   
</div>
{% endfor %}

    {% if questions|length > 0 %}
        <button class="btn btn-primary btn-md"
                hx-get="/org_admin/forms/{{form.id}}/add_question/"
                hx-target=".htmx-navigator"
                hx-swap="outerHTML"
                onclick="setTimeout(() => window.scrollTo(0, document.body.scrollHeight), 50);">
            Add Question
        </button>
        <button class="btn btn-primary btn-md"
                hx-get="/org_admin/forms/{{form.id}}/add_boolean/"
                hx-target=".htmx-navigator"
                hx-swap="outerHTML"
                onclick="setTimeout(() => window.scrollTo(0, document.body.scrollHeight), 50);">
            Add Yes/No
        </button>
        <button class="btn btn-primary btn-md"
                hx-get="/org_admin/forms/{{form.id}}/add_multi_choice/"
                hx-target=".htmx-navigator"
                hx-swap="outerHTML"
                onclick="setTimeout(() => window.scrollTo(0, document.body.scrollHeight), 50);">
            Add Multi Choice
        </button>
    {% endif %}
{% endblock %}