{% extends 'org_admin/navigation_template.html' %}

{% block page_content %}



<p class="text-2xl font-bol mb-5">Forms</p>
    
    {% if error %}
    {% include "commonui/error.html" %}
    {% endif %}

    {% if success %}
    {% include "commonui/success.html" %}
    {% endif %}

    {% if assigned_forms %}
    <div class="rounded-xl p-5 bg-base-200 mb-3">
        <p class="text-xl" >Forms assigned to you</p>
        <table class="table w-full mt-5">
            <thead>
                <tr>
                    <th>Form Name</th>
                    <th>Form Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for req in assigned_forms %}
                <tr>
                    <td>{{ req.form.name }}</td>
                    <td>{{ req.form.description }}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" hx-push-url="true" hx-get="/forms/{{req.form.id}}/" hx-target=".htmx-navigator" hx-swap="outerHTML">Submit Response</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endif %}

    <div class="rounded-xl p-5 bg-base-200">
        <div class="flex items-center justify-between w-full">
            
            <p class="text-xl">Your Forms</p>

            <div>
                <a href="/org_admin/forms/create/" class="btn btn-sm btn-primary mb-3"
                >New Form</a>
        
                <a href="/org_admin/forms/assign_form/" class="btn btn-sm btn-primary mb-3"
                >Assign Form</a>

                {% if user.is_superuser %}
                <a href="/org_admin/forms/assign_form_org/" class="btn btn-sm btn-primary mb-3">
                    Assign Form to Organisation
                </a>
                {% endif %}

            </div>
        
        </div>
            <table id="formsTable">
                <thead>
                    <tr>
                        <th>Form Name</th>
                        <th>Form Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in forms %}
                    <tr>
                        <td>{{ form.name }}</td>
                        <td>{{ form.description }}</td>
                        <td>
                            {% if form.visible_to_all and not superuser %}
                            <p>This form can be assigned</p>
                            {% else %}
                            <button class="mb-1 btn btn-primary btn-xs" hx-push-url="true" hx-get="/org_admin/forms/{{form.id}}/" hx-target=".htmx-navigator" hx-swap="outerHTML">Details</button>
                            <button class="mb-1 btn btn-primary btn-xs" hx-push-url="true" hx-get="/org_admin/forms/responses/{{form.id}}/" hx-target=".htmx-navigator" hx-swap="outerHTML">Responses</button>
                            <a class="mb-1 btn btn-primary btn-xs" href="/org_admin/forms/download/{{form.id}}/">Download CSV</a>
                            <a class="mb-1 btn btn-primary btn-xs" href="/org_admin/forms/download_anonymous/{{form.id}}/">Download anonymous CSV</a>
                            <button class="mb-1 btn bg-red-600 btn-xs" hx-get="/org_admin/forms/delete/{{form.id}}/" hx-target=".htmx-navigator" hx-swap="outerHTML" hx-confirm="Are you sure you would like to delete this form?">Delete</button>
                            {%endif%}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>

    <div class="rounded-xl p-5 bg-base-200 mt-3">
        <p class="text-xl">Outstainding Forms</p>

        <table class="table w-full mt-5">
            <thead>
                <tr>
                    <th>Form Name</th>
                    <th>Assigned To</th>
                    <th>Assigned Date</th>
                <tr>
            </thead>

            <tbody>
                {% for form in awaiting_response %}
                <tr>
                    <td>{{ form.form.name }}</td>
                    <td>{{ form.organisation.name }}</td>
                    <td>{{ form.assigned }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function hydrate_forms_tables(){
          let forms_table = new DataTable('#formsTable');
        }
      
        document.addEventListener('DOMContentLoaded', function() {
            hydrate_forms_tables();
        });
      
        document.addEventListener('htmx:afterSettle', function(event) {
            hydrate_forms_tables();
        });
        
      </script>

{% endblock %}