{% extends 'org_admin/navigation_template.html'%}

{% block page_content %}

<p class="text-2xl text-slate-200">Dashboard</p>

<p class="text-lg text-slate-200">Welcome {{ admin.first_name }}, you are managing {{ organisation.name }}</p>

<div class="flex w-full p-3 h-56">
    <div class="w-1/3 h-full bg-slate-700 rounded-xl p-3 mx-3">
        <canvas id="myChart"></canvas>
    </div>

    <div class="w-1/3 h-full bg-slate-700 rounded-xl p-3 mx-3">
        <canvas id="myChart2"></canvas>
    </div>

    <div class="w-1/3 h-full bg-slate-700 rounded-xl p-3 mx-3">
        <canvas id="myChart3"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx1 = document.getElementById('myChart');
        const ctx2 = document.getElementById('myChart2');
        const ctx3 = document.getElementById('myChart3');
        Chart.defaults.color = '#fff';
       
        new Chart(ctx1, {
          type: 'bar',
          data: {
            labels: ['Mon', 'Tue', 'Wed', 'Thurs', 'Friday', 'Saturday'],
            datasets: [{
              label: '# of Views',
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1
              
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        new Chart(ctx2, {
          type: 'bar',
          data: {
            labels: ['Mon', 'Tue', 'Wed', 'Thurs', 'Friday', 'Saturday'],
            datasets: [{
              label: '# of Views',
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1
              
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        new Chart(ctx3, {
          type: 'bar',
          data: {
            labels: ['Mon', 'Tue', 'Wed', 'Thurs', 'Friday', 'Saturday'],
            datasets: [{
              label: '# of Views',
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1
              
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });


      </script>


</div>

{% endblock %}
