{% extends 'org_admin/navigation_template.html'%}

{% block page_content %}

<p class="text-2xl text-slate-200">Dashboard</p>

<p class="text-lg text-slate-200">Welcome {{ user.first_name }}, you are managing {{ organisation.name }}</p>

<div class="stats w-full bg-gray-700 mt-3">
  
  <div class="stat place-items-center">
    <div class="stat-title">Volunteers</div>
    <div class="stat-value">{{ total_volunteers }}</div>
    <div class="stat-desc">Signed up for opportunities</div>
  </div>
  
  <div class="stat place-items-center">
    <div class="stat-title">Views</div>
    <div class="stat-value">{{ total_views }}</div>
    <div class="stat-desc">Past 24 Hours</div>
  </div>
  
  <div class="stat place-items-center">
    <div class="stat-title">Registrations</div>
    <div class="stat-value">{{messages}}</div>
    <div class="stat-desc">↘︎ 90 (14%)</div>
  </div>
  
</div>

<div class="flex w-full h-56 mt-3">
    <div class="w-1/2 h-full bg-slate-700 rounded-xl p-3">
        <canvas id="myChart"></canvas>
    </div>

    <div class='w-3'>
    </div>

    <div class="w-1/2 h-full bg-slate-700 rounded-xl p-3 ">
        <canvas id="myChart2"></canvas>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx1 = document.getElementById('myChart');
        const ctx2 = document.getElementById('myChart2');
        const ctx3 = document.getElementById('myChart3');
        Chart.defaults.color = '#fff';
       
        new Chart(ctx1, {
          type: 'bar',
          data: {
            labels: ['Mon', 'Tue', 'Wed', 'Thurs', 'Friday', 'Saturday'],
            datasets: [{
              label: '# of Views',
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1
              
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        new Chart(ctx2, {
          type: 'bar',
          data: {
            labels: ['Mon', 'Tue', 'Wed', 'Thurs', 'Friday', 'Saturday'],
            datasets: [{
              label: '# of Views',
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1
              
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        new Chart(ctx3, {
          type: 'bar',
          data: {
            labels: ['Mon', 'Tue', 'Wed', 'Thurs', 'Friday', 'Saturday'],
            datasets: [{
              label: '# of Views',
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1
              
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });


      </script>


</div>

{% endblock %}
