{% extends "org_admin/navigation_template.html" %}

{% block page_content %}

<p class="text-2xl mb-3">Mentee Record: {{mentee.user.first_name}} {{mentee.user.last_name}} </p>



{% if mentor_form_found %}
<div class="p-5 rounded-lg bg-base-200 mb-3">
    <div class="flex justify-between items-center">
        <p class="text-2xl">Mentoring Forms:</p>
        
            {% if mentor_start %}
            <button class="btn btn-primary" hx-get="/org_admin/mentoring/fill_mentee_start_form/{{mentee_record.id}}/" hx-target=".htmx-navigator" hx-swap="outerHTML">Fill Mentee Start Form</button>
            {% elif mentor_end %}
            <button class="btn btn-primary" hx-get="/org_admin/mentoring/fill_mentee_end_form/{{mentee_record.id}}/" hx-target=".htmx-navigator" hx-swap="outerHTML">Fill Mentee End Form</button>
            {% else %}
            <button class="btn btn-primary" disabled>No forms to complete</button>
            {% endif %}
    </div>
</div>
{% endif %}

<div class="p-5 rounded-lg bg-base-200 mb-3">
    <div class="flex justify-between">
        <p class="text-2xl">Mentor Sessions:</p>
        <a class="btn btn-primary" href="/org_admin/mentoring/log_hours/{{mentee_record.id}}">Add Mentor Session</a>
    </div>

    <div class="divider"></div>

    <table class="table">
        <thead>
            <tr>
                <th>Mentor</th>
                <th>Session Date</th>
                <th>Session Duration</th>
                <th>Session Notes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if mentor_sessions|length == 0 %}
            <tr>
                <td colspan="3">No mentor sessions have been logged</td>
            </tr>

            {%else %}
            {% for session in mentor_sessions %}
            <tr>
                <td>{{ session.mentor_user.first_name }} {{ session.mentor_user.last_name }}</td>
                <td>{{ session.date }}</td>
                <td>{{ session.time }}</td>
                 <td>{% if session.session_notes|length > 0%}{{ session.session_notes }}{%else%}-{%endif%}</td>
                 <td>
                    <button class="btn btn-sm btn-secondary" hx-get="/org_admin/mentoring/edit_session/{{session.id}}/" hx-target=".htmx-navigator" hx-swap="outerHTML">Edit</button>
                    <button class="btn btn-sm btn-error" hx-get="/org_admin/mentoring/delete_session/{{session.id}}/" hx-target=".htmx-navigator" hx-swap="outerHTML">Delete</button>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

<div class="p-5 rounded-lg bg-base-200 mb-3">
    <div class="flex justify-between">
        <p class="text-2xl">Mentor Notes:</p>
        <a class="btn btn-primary" href="/org_admin/mentoring/add_note/{{mentee_record.id}}">Add Note</a>
    </div>

    <div class="divider"></div>

    <table class="table">
        <thead>
            <tr>
                <th>Created By</th>
                <th>Created On</th>
                <th>Last Updated</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {% if mentor_notes|length == 0 %}
            <tr>
                <td colspan="3">No mentor notes have been logged</td>
            </tr>
            {%endif%}
            {% for note in mentor_notes %}
            <tr>
                <td>{{ note.created_by.first_name }} {{ note.created_by.last_name }}</td>
                <td>{{ note.created_at }}</td>
                <td>{{ note.last_updated }}</td>
                <td>{{ note.note }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}