{% load compress %} {% load static %}

<!DOCTYPE html>
{% if not hx or hx == False %}
<html lang="en" class="" style="height: 100%" data-theme="chipin">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Volunteering System - Orgnaisation Admin</title>
    <!--Favicon /static/images/icons/icon-512x512.png-->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/icons/icon-72x72.png' %}"
    />
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}
  </head>

  <body style="height: 100%">
    <div class="drawer">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col">
        <!-- Navbar -->
        <div class="w-full navbar bg-base-300">
          <div class="flex-none lg:hidden">
            <label
              for="my-drawer-3"
              aria-label="open sidebar"
              class="btn btn-square btn-ghost"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block w-6 h-6 stroke-current"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                ></path>
              </svg>
            </label>
          </div>
          <div class="flex-1 px-2 mx-2">
            <img
              src="{% static 'images/chip_in_logo.svg' %}"
              alt="logo"
              class="flex-none ml-5 w-20"
            />
          </div>
          <div class="flex-none hidden lg:block">
            <ul
              class="menu menu-horizontal"
              hx-boost="true"
              hx-target=".htmx-navigator"
              hx-swap="outerHTML"
            >
              <!-- Navbar menu content here -->

              <li><a href="/org_admin/details/#">Organisation Details</a></li>
              <li><a href="/org_admin/opportunities/#">Opportunities</a></li>
              <li><a href="/org_admin/registrations/#">Registrations</a></li>
              <li><a href="/org_admin/volunteers/#">Volunteers</a></li>
              <li><a href="/org_admin/mentoring/#">Mentoring</a></li>
              <li><a href="/org_admin/forms/#">Forms</a></li>
              <li><a href="/org_admin/communication/#">Communication</a></li>
              <li>
                <a href="/org_admin/admin_management/#">Organisation Admins</a>
              </li>
              <li><a href="/org_admin/profile/#">Profile</a></li>
              <li><a href="/org_admin/logout/#">Logout</a></li>
            </ul>
          </div>
        </div>

        {% endif %}
        <div
          class="htmx-navigator pb-20 mx-5 md:mx-20 xl:mx-40 2xl:mx-80 mt-3"
          hx-ext="remove-me"
        >
          {% block page_content %} {% endblock %}
        </div>

        {% if not hx or hx == False %}
      </div>
      <div class="drawer-side z-40">
        <label
          for="my-drawer-3"
          aria-label="close sidebar"
          class="drawer-overlay"
        ></label>
        <ul
          class="menu p-4 w-80 min-h-full bg-base-200"
          hx-boost="true"
          hx-target=".htmx-navigator"
        >
          <img
            src="{% static 'images/chip_in_logo.svg' %}"
            alt="logo"
            class="flex-none ml-5 w-20"
          />
          <div class="divider"></div>
          <!-- Sidebar content here -->

          <li><a href="/org_admin/details/#">Organisation Details</a></li>
              <li><a href="/org_admin/opportunities/#">Opportunities</a></li>
              <li><a href="/org_admin/registrations/#">Registrations</a></li>
              <li><a href="/org_admin/volunteers/#">Volunteers</a></li>
              <li><a href="/org_admin/mentoring/#">Mentoring</a></li>
              <li><a href="/org_admin/forms/#">Forms</a></li>
              <li><a href="/org_admin/communication/#">Communication</a></li>
              <li>
                <a href="/org_admin/admin_management/#">Organisation Admins</a>
              </li>
              <li><a href="/org_admin/profile/#">Profile</a></li>
              <li><a href="/org_admin/logout/#">Logout</a></li>
        </ul>
      </div>
    </div>

    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/remove-me.js"></script>
  </body>
</html>
{% endif %}
