{% extends 'org_admin/navigation_template.html' %} {% block page_content %}

<div class="flex items-center justify-between">
  <p class="text-2xl font-bol mb-5">Opportunities</p>
  <a href="/org_admin/opportunities/add" class="btn btn-primary mb-3"
    >Create New Opportunity</a
  >
</div>
{% if error %} {{ error }} {% endif %}

<div class="p-5 rounded-lg bg-base-200 mb-3">
  <table class="table table-auto border-spacing-2">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        {% if superuser %}<th>Organisation</th>{% endif %}
        <th>Number of sign ups</th>
        <th>Total Views</th>
        <th>Actions</th>
        
      </tr>
    </thead>
    <tbody>
      {% for opportunity in opportunities %}
      <tr class="my-2 rounded-lg odd:bg-base-100 even:bg-base-300">
        <td>{{ opportunity.name }}</td>
        <td>{{ opportunity.description|truncatewords:10 }}</td>
        {% if superuser %}<td>{{ opportunity.organisation.name }}</td>{% endif %}
        <td>{{ opportunity.registrations }}</td>
        <td>{{ opportunity.views }}</td>
        <td>
          <a
            href="/org_admin/opportunities/{{opportunity.id}}"
            class="btn btn-primary mb-3"
            >View</a
          >
          <a
            href="/org_admin/opportunities/{{opportunity.id}}"
            class="btn btn-primary"
            >Registrations</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
