{% extends 'org_admin/navigation_template.html'%} {% block page_content %}

<p class="text-2xl mt-5">
  Editing Opportunity <span class="font-bold">{{ opportunity.name }}</span>
</p>

{% if error %}
{% include "commonui/error.html" %}
{% endif %}

{% if success %}
{% include "commonui/success.html" %}
{% endif %}


<div
  hx-target="#tab-contents"
  role="tablist"
  class="tabs tabs-boxed my-3"
  id="tab_container"
>
  <a
    role="tab"
    role="tab"
    aria-controls="tab-contents"
    aria-selected="true"
    hx-get="/org_admin/opportunities/details/{{ opportunity.id }}/"
    class="tab"
    >Details</a
  >
  <a
    role="tab"
    role="tab"
    aria-controls="tab-contents"
    aria-selected="true"
    hx-get="/org_admin/opportunities/sections/{{ opportunity.id }}/"
    class="tab"
    >Sections</a
  >
  <a
    role="tab"
    role="tab"
    aria-controls="tab-contents"
    aria-selected="true"
    hx-get="/org_admin/opportunities/benefits/{{ opportunity.id }}/"
    class="tab"
    >Benefits</a
  >
  <a
    role="tab"
    role="tab"
    aria-controls="tab-contents"
    aria-selected="true"
    hx-get="/org_admin/opportunities/locations/{{ opportunity.id}}/"
    class="tab"
    >Location</a
  >
  <a
    role="tab"
    role="tab"
    aria-controls="tab-contents"
    aria-selected="true"
    hx-get="/org_admin/opportunities/schedule/{{ opportunity.id }}/"
    class="tab"
    >Schedule</a
  >
  <a
    role="tab"
    role="tab"
    aria-controls="tab-contents"
    aria-selected="true"
    hx-get="/org_admin/opportunities/gallery/{{ opportunity.id }}/"
    class="tab"
    >Gallery</a
  >
  <a
    role="tab"
    role="tab"
    aria-controls="tab-contents"
    aria-selected="true"
    hx-get="/org_admin/opportunities/staistics/{{ opportunity.id }}/"
    class="tab"
    >Statistics</a
  >
</div>

{% if not tab_name %}
<div
  id="tab-contents"
  role="tabpanel"
  hx-get="/org_admin/opportunities/details/{{ opportunity.id }}/"
  hx-trigger="load"
></div>
{% elif tab_name == "details" %}
<div
  id="tab-contents"
  role="tabpanel"
  hx-get="/org_admin/opportunities/details/{{ opportunity.id }}/"
  hx-trigger="load"
></div>
{% elif tab_name == "sections" %}
<div
  id="tab-contents"
  role="tabpanel"
  hx-get="/org_admin/opportunities/sections/{{ opportunity.id }}/"
  hx-trigger="load"
></div>
{% elif tab_name == "benefits" %}
<div
  id="tab-contents"
  role="tabpanel"
  hx-get="/org_admin/opportunities/benefits/{{ opportunity.id }}/"
  hx-trigger="load"
></div>
{% elif tab_name == "locations" %}
<div
  id="tab-contents"
  role="tabpanel"
  hx-get="/org_admin/opportunities/locations/{{ opportunity.id }}/"
  hx-trigger="load"
></div>
{% elif tab_name == "schedule" %}
<div
  id="tab-contents"
  role="tabpanel"
  hx-get="/org_admin/opportunities/schedule/{{ opportunity.id }}/"
  hx-trigger="load"
></div>
{% elif tab_name == "gallery" %}
<div
  id="tab-contents"
  role="tabpanel"
  hx-get="/org_admin/opportunities/gallery/{{ opportunity.id }}/"
  hx-trigger="load"
></div>
{% endif %}

<!-- Open the modal using ID.showModal() method -->
<dialog id="my_modal_2" class="modal">
  <div id="modalDiv" class="modal-box w-96">
    <h3 class="font-bold text-lg">Hello!</h3>
    <p class="py-4">Press ESC key or click outside to close</p>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

{% endblock %}
