{% extends 'org_admin/navigation_template.html' %} {% block page_content %}

<p class="text-2xl font-bol mb-5">About your Organisation</p>

{% if error %}
{% include "commonui/error.html" %}
{% endif %}

{% if success %}
{% include "commonui/success.html" %}
{% endif %}


<div class="p-5 rounded-lg bg-base-200 mb-3">
  <div class="flex justify-between items-center">
    <p class="text-xl">Details</p>
  </div>
  <div class="divider"></div>

<div class="flex">

  <div class="mr-3 mb-3 relative w-48 h-48 rounded-xl border">
    <div
      class="flex flex-col p-2 items-center justify-center bg-slate-300 absolute w-full h-full hover:opacity-100 z-10 rounded-xl opacity-0"
    >
    <button
    class="btn btn-primary"
    {% if superuser %} hx-get="/org_admin/upload_organisation_logo/{{organisation.id}}/"{% else %} hx-get="/org_admin/upload_organisation_logo/"{% endif %} 
    hx-on:htmx:after-request="my_modal_2.showModal();"
    hx-target="#modalDiv"
    hx-swap="innerHTML"
  >
    Upload
  </button>
    </div>
    
    <div>
      <p class="absolute w-full h-full p-3 text-center">Organisation Logo <br>Hover to upload a image</p>
      {% if organisation.logo %}
      <img
        src="{{organisation.logo.url}}"
        alt=""
        class="absolute w-full h-full z-0 object-contain rounded-xl"
      />{% endif %}
    </div>
  </div>


  <form class="flex-grow">
    {% csrf_token %}

    <label for="name">Organisation Name</label>

    <input
      type="text"
      class="input input-bordered w-full mb-3"
      placeholder="Organisation Name"
      name="name"
      value="{{ organisation.name }}"
    />
    <br />

    <label for="description">Organisation Description</label>
    <textarea
      name="description"
      class="textarea textarea-bordered w-full text-wrap"
      placeholder="Organisation Description"
    >
{{ organisation.description }}</textarea>

    <p class="text-secondary">Hover over the logo to upload a new image</p>

    <div class="flex w-full justify-end">
      <button class="btn btn-primary self-end" {% if superuser %} hx-post="/org_admin/organisations/{{organisation.id}}/" {% else %} hx-post="/org_admin/details/"{%endif%}hx-target=".htmx-navigator" hx-swap="outerHTML">
        Save
      </button>
    </div>
  </form>
</div>

</div>

<!--
<div class="p-5 rounded-lg bg-base-200 mb-3">
  <div class="flex justify-between items-center">
    <p class="text-xl">Badges</p>

    <button
      class="btn btn-primary"
      {% if superuser %}
      hx-get="/org_admin/manage_badge/add/{{organisation.id}}/"
      {% else %}
      hx-get="/org_admin/manage_badge/"
      {% endif %}
      hx-on:htmx:after-request="my_modal_2.showModal();"
      hx-target="#modalDiv"
      hx-swap="innerHTML"
    >
      Add
    </button>
  </div>
  <div class="divider"></div>
  <table class="table w-full">
    <thead>
      <tr>
        <th>Icon</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for badge in badges %}
      <tr>
        <td>
          <img
            src="{{badge.image.url}}"
            alt=""
            class="w-8 h-8 object-cover rounded-full"
          />
        </td>
        <td>{{ badge.name }}</td>
        <td>{{ badge.description }}</td>
        <td>
          <a
            hx-get="/org_admin/manage_badge/delete/{{ badge.id }}/"
            class="btn bg-red-600 btn-xs"
            hx-target=".htmx-navigator"
            hx-swap="outerHTML"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

    
  </div>

  -->

<div class="p-5 rounded-lg bg-base-200 mb-3">
  
  <div class="flex justify-between items-center">
    <p class="text-xl">Automated Message Reply</p>
    <p>Set up an automated message to be sent to volunteers when they send you a message</p>
  </div>

  <div class="divider"></div>

  <form>
    {% csrf_token %}
    <label for="message">Message</label>
    <textarea
      name="message"
      class="textarea textarea-bordered w-full text-wrap"
      placeholder="Message">{% if automated_message %}{{ automated_message.content }}{%endif%}</textarea>
  
      <div class="flex w-full justify-end">
        <button class="btn btn-primary self-end" {% if superuser %} hx-post="/org_admin/automated_message/{{organisation.id}}/" {% else %}hx-post="/org_admin/automated_message/"{%endif%}hx-target=".htmx-navigator" hx-swap="outerHTML">
          Save
        </button>
      </div>
    </form>

 
</div>

<div class="p-5 rounded-lg bg-base-200 mb-3">
  <div class="flex justify-between items-center">
    <p class="text-xl">Social Media Links</p>
  </div>
<div class="divider"></div>
<form>
  {% csrf_token %}
<table class="table w-full">
  <thead>
    <tr>
      <th>Platform</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    {% for type in link_types %}
    <tr>
      <td>{{ type.type.name }}</td>
      <td><input name="type_{{type.type.id}}" class="input input-bordered w-full" placeholder="URL (including https://)" {%if type.link %}value={{type.link}}{%endif%}></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="divider"></div>
<div class="flex w-full justify-end">
  <button class="btn btn-primary self-end" {% if superuser %} hx-post="/org_admin/links/{{organisation.id}}/" {% else %}hx-post="/org_admin/links/"{%endif%}hx-target=".htmx-navigator" hx-swap="outerHTML">
    Save
  </button>
</div>
</form>
</div>

<div class="p-5 rounded-lg bg-base-200 mb-3">
  <div class="flex justify-between items-center">
    <p class="text-xl">Additional Information</p>
    <p>Add any additional information you would like to ask volunteers. Note that these need to be assigned to opportunities</p>
  </div>
<div class="divider"></div>
<table class="table w-full">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for info in supp_info %}
    <tr>
      <td>{{ info.title }}</td>
      <td>{{info.description}}</td>
      <td>
        <a
          hx-get="/org_admin/supplementary_info/delete/{{ info.id }}/"
          class="btn bg-red-600 btn-xs"
          hx-target=".htmx-navigator"
          hx-swap="outerHTML"
          >Delete</a
        >
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="divider"></div>

  <form class="flex">
    {% csrf_token %}
    <input type="text" name="name" class="input input-bordered w-1/3 mr-3" placeholder="Name">
    <input type="text" name="description" class="input input-bordered w-2/3 mr-3" placeholder="Description">
    <button class="btn btn-primary self-end" {% if superuser %} hx-post="/org_admin/supplementary_info/{{organisation.id}}/" {% else %}hx-post="/org_admin/supplementary_info/"{%endif%}hx-target=".htmx-navigator" hx-swap="outerHTML">
      Add
    </button>
  </form>

</div>

<div class="p-5 rounded-lg bg-base-200">
  <div class="flex justify-between items-center">
    <p class="text-xl">Media</p>
    <p class="text-gray-500">
      Hover over media to delete.<br />Please note you need more than 1 image to
      be able to delete.
    </p>
    <button
      class="btn btn-primary"
      {% if superuser %}
      hx-get="/org_admin/upload_media/organisation_image/{{organisation.id}}/"
      {% else %}
      hx-get="/org_admin/upload_media/organisation_image/"
      {% endif %}
      hx-on:htmx:after-request="my_modal_2.showModal();"
      hx-target="#modalDiv"
      hx-swap="innerHTML"
    >
      Upload
    </button>

  </div>
  <div class="divider"></div>
  <div class="flex w-full overflow-auto flex-wrap justify-start">
    {% for image in org_images%}

    <div class="mr-3 mb-3 relative w-48 h-40">
      {% if org_images|length > 1 %}
      <div
        class="flex flex-col p-2 items-center justify-center bg-slate-800 bg-opacity-50 absolute w-full h-full hover:opacity-100 z-30 rounded-xl opacity-0"
      >
        <button
          class="btn btn-danger"
          hx-get="/org_admin/delete_media/organisation_image/{{image.id}}/image/"
        >
          Delete
        </button>
      </div>
      {% endif %}

      <div
        class="flex flex-col p-2 absolute w-full h-full z-10 rounded-xl "
      >
        <div class="badge badge-secondary">Image</div>
      </div>

      <div>
        <img
          src="{{image.thumbnail_image.url}}"
          alt=""
          class="absolute w-full h-full z-0 object-cover rounded-xl"
        />
      </div>
    </div>
    {%endfor%}
    {% for video in org_videos%}

    <div class="mr-3 mb-3 relative w-48 h-40">
      {% if org_images|length > 1 or org_videos|length > 1%}
      <div
        class="flex flex-col p-2 items-center justify-center bg-slate-800 bg-opacity-50 absolute w-full h-full hover:opacity-100 z-30 rounded-xl opacity-0"
      >
        <button
          class="btn bg-red-600"
          hx-get="/org_admin/delete_media/organisation_image/{{video.id}}/video/"
        >
          Delete
        </button>
      </div>

      {% endif %}
      <div
        class="flex flex-col p-2 absolute w-full h-full z-10 rounded-xl "
      >
        <div class="badge badge-secondary">Video</div>
      </div>
      <div>
        <img
          src="{{video.video_thumbnail.url}}"
          alt=""
          class="absolute w-full h-full z-0 object-cover rounded-xl"
        />
      </div>
    </div>
    {%endfor%}
  </div>
</div>

<div class="p-5 rounded-lg bg-base-200 mt-3">
  <div class="flex justify-between items-center">
    <p class="text-xl">Volunteers Following: {{interested_vols|length}}</p>
    <p>The following volunteers have registered for updates about this organisation</p>
  </div>
<div class="divider"></div>
    {% if interested_vols|length == 0 %}
    <p>No volunteers are following this organisation</p>
    {% else %}
<table class="table w-full">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    

    {% for vols in interested_vols %}
    <tr>
      <td>{{ vols.volunteer.user.first_name}} {{ vols.volunteer.user.last_name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

<!-- Open the modal using ID.showModal() method -->
<dialog id="my_modal_2" class="modal">
  <div id="modalDiv" class="modal-box">
    <h3 class="font-bold text-lg">Hello!</h3>
    <p class="py-4">Press ESC key or click outside to close</p>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

{% endblock %}
