{% extends 'org_admin/navigation_template.html'%} 

{% block page_content %}

<p class="text-2xl text-slate-200">Volunteers</p>

<div class="p-5 rounded-lg bg-base-200 mb-3 overflow-scroll">
  <table class="table border-seperate border-spacing-2 ">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>

        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for volunteer in unique_volunteers %}
      <tr class="odd:bg-base-100 even:bg-base-300 ">
        <td>{{ volunteer.user.first_name }}</td>
        <td>{{ volunteer.user.last_name }}</td>
        <td>{{ volunteer.user.email }}</td>
        <td>
          <a href="{{volunteer.id}}/" class="btn btn-primary">View</a>
          <a href="#" class="btn btn-danger">Contact</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
