{% extends 'org_admin/navigation_template.html' %} {% block page_content %}

<div class="p-5 rounded-lg bg-base-200 mb-3">
  <p class="text-2xl font-bol mb-5">Volunteer Details</p>
  <table class="table">
    <tbody>
      <tr>
        <th>First Name</th>
        <td>{{volunteer.user.first_name}}</td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td>{{volunteer.user.last_name}}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{volunteer.user.email}}</td>
      </tr>
      <tr>
        <th>Phone</th>
        <td>{{volunteer.phone_number}}</td>
      </tr>
      <tr>
        <th>DOB</th>
        <td>{{volunteer.date_of_birth}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="p-5 rounded-lg bg-base-200 mb-3">
  <p class="text-xl font-bold">Sign up Details</p>
  <div class="divider my-2"></div>
  {% if sign_up_form_answers|length == 0 %}
  <p>No data</p>
  {% else %}

  <table class="table">
    {% for answer in sign_up_form_answers.items %}
    <tr>
      <th>{{ answer.0 }}</th>
      <td>{{ answer.1 }}</td>
    </tr>
    {% endfor %}
  
  </table>
  {% endif %}

</div>

<div class="p-5 rounded-lg bg-base-200 mb-3">
  <p class="text-xl font-bold">Addresses</p>
  <div class="divider my-2"></div>
  {% if addresses|length == 0 %}
  <p>No addresses</p>
  {% else %}

  <table class="table">
    <thead>
      <tr>
        <th>First Line</th>
        <th>Second Line</th>
        <th>Postcode</th>
        <th>City</th>
      </tr>
    </thead>

    <tbody>
      {% for address in addresses %}
      <tr>
        <td>{{ address.first_line }}</td>
        <td>{{ address.second_line }}</td>
        <td>{{ address.postcode }}</td>
        <td>{{ address.city }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

<div class="p-5 rounded-lg bg-base-200 mb-3">
  <p class="text-xl font-bold">Emergency Contacts</p>
  <div class="divider my-2"></div>
  {% if contacts|length == 0 %}
  <p>No Emergency Contacts specified</p>
  {% else %}

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Relationship</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      {% for contact in contacts %}
      <tr>
        <td>{{ contact.name }}</td>
        <td>{{ contact.relation }}</td>
        <td>{{ contact.phone_number }}</td>
        <td>{{ contact.email }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% if superuser %}
<div class="p-5 rounded-lg bg-base-200 mb-3">
  <p class="text-xl font-bold">Followed Organisations</p>
  <div class="divider my-2"></div>
  {% if interests|length == 0 %}
  <p>Not following any organisations</p>
  {% else %}

  <table class="table">
    <thead>
      <tr>
        <th>Organisation Name</th>
      </tr>
    </thead>

    <tbody>
      {% for org in interests %}
      <tr>
        <td>{{ org.organisation.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endif %}

<div class="p-5 rounded-lg bg-base-200 mb-3">
  <p class="text-xl font-bold">Conditions</p>
  <div class="divider my-2"></div>
  {% if conditions|length == 0 %}
  <p>No conditions disclosed</p>
  {% else %}

  <table class="table">
    <thead>
      <tr>
        <th>Condition</th>
      </tr>
    </thead>

    <tbody>
      {% for condition in conditions %}
      <tr>
        <td>{{ condition.disclosures }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

<div class="p-5 rounded-lg bg-base-200 mb-3">
  <p class="text-xl font-bold">Supplemental Information</p>
  <div class="divider my-2"></div>
  {% if vol_supp_info|length == 0%}
  <p>No supplemental information</p>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Value</th>
        <th>Last Updated</th>
      </tr>
    </thead>

    <tbody>
      {% for data in vol_supp_info %}
      <tr>
        <td>{{ data.info.title }}</td>
        <td>{{ data.info.description }}</td>
        <td>{{ data.data }}</td>
        <td>{{ data.last_updated }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

    <div class="p-5 rounded-lg bg-base-200 mb-3">
  <p class="text-xl font-bold">Forms</p>
  <div class="divider my-2"></div>
  {% if forms|length == 0 %}
  <p>No forms</p>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Response Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for form in forms %}
      <tr>
        <td>{{ form.form.name }}</td>
        <td>{{ form.response_date|date:"d/m/Y" }}</td>
        <td>
          <a
            href="/org_admin/forms/response/{{form.id}}/"
            class="btn btn-xs btn-primary"
            >View
          </a>
            {% if registration.get_registration_status == 'active' %}
          <a href="" class="btn btn-xs bg-red-600">Mark as complete</a>
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

 <div class="p-5 rounded-lg bg-base-200 mb-3">
  <p class="text-xl font-bold">Shifts</p>
  <div class="divider my-2"></div>
  {% if shifts|length == 0 %}
  <p>No shifts</p>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th>Opportunity Name</th>
        <th>Role</th>
        <th>Section</th>
        <th>Date & Time</th>
        <th>RSVP Status</th>
          <th>Check in time</th>
          <th>Check out time</th>

      </tr>
    </thead>
    <tbody>
      {% for shift in shifts %}
      <tr>
        <td>{{ shift.registration.opportunity.name }}</td>
        <td>{{ shift.role.name }}</td>
        <td>{% if shift.section %}{{ shift.section.name }}{% else %}-{% endif %}</td>

        <td>{{ shift.occurrence.date|date:"d/m/Y" }}</td>
        <td>{{ shift.rsvp_response }}</td>

      <td>{{ shift.check_in_time }}</td>
      <td>{{ shift.check_out_time }}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

<div class="p-5 rounded-lg bg-base-200 mb-3">
  <p class="text-xl font-bold">Volunteer Registrations</p>
  <div class="divider my-2"></div>
  {% if registrations|length == 0 %}
  <p>No registrations</p>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th>Opportunity</th>
        <th>Registered</th>
          <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for registration in registrations %}
      <tr>
        <td>{{ registration.opportunity.name }}</td>
        <td>{{ registration.date_created|date:"d/m/Y" }}</td>
        <td>{{ registration.get_registration_status }}</td>
        <td>
          <a
            href="/org_admin/opportunities/{{registration.opportunity.id}}"
            class="btn btn-xs btn-primary"
            >View
          </a>
            {% if registration.get_registration_status == 'active' %}
          <a href="" class="btn btn-xs bg-red-600">Mark as complete</a>
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}