<!--


<a href="organisations/{{org.id}}"><div class="card text-bg-dark mx-2" style="width:18rem;">
    <img src="{% if org.images.0.image.url %} {{org.images.0.image.url}} {% else %} # {% endif %}" class="card-img h-25" alt="...">
    <div class="card-img-overlay d-flex align-items-end" style="background: rgb(0,0,0); background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 100%);" >
      <h5 class="card-title">{{ org.name }}</h5>
      
    </div>

</div>
</a>

-->


<div class="carousel-item card w-96 bg-base-100 shadow-xl image-full">
    <figure><img src="{% if org.images.0.image.url %} {{org.images.0.image.url}} {% else %} # {% endif %}" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title text-white">{{ org.name }}</h2>
      <p class="text-white">{{ org.description|truncatewords:10}}</p>
      <div class="card-actions justify-end">
        <a href="organisations/{{org.id}}" class="btn btn-primary">View</a>
      </div>
    </div>
</div>
