<a href="/organisations/{{org.id}}" hx-boost="true" hx-target=".htmx-navigator"  hx-push-url="true" hx-swap="outerHTML" hx-indicator=".loader">
<div class="cursor-pointer max-w-96 h-60 rounded-xl flex justify-center items-center {% if search %}min-w-48{% else%} w-80 md:w-96 carousel-item {% endif %}">
  <div class="rounded-xl relative z-0 w-full h-full">
    <img class="rounded-xl object-cover h-full w-full " src="{% if org.images.0.thumbnail_image.url %} {{org.images.0.thumbnail_image.url}} {% else %} # {% endif %}" alt="Image of {{ org.description|truncatewords:10}}" />
    <div class="p-5 absolute inset-0 rounded-xl  flex flex-col justify-end h-full w-full z-10 bg-gradient-to-b from-[#ffffff00] to-[#000000]">
      {% if org.logo %}<img class="w-16 h-16 rounded-md mb-2" src="{{ org.logo.url }}" alt="Logo of {{ org.name }}" />{% endif %}
      {% if org.type == "organisation" %}<div class="badge badge-primary my-1">Organisation</div>{% endif %}
      {% if org.tags %}
      <div class="flex flex-wrap">
        {% for tag in org.tags %}
        <div class="badge badge-primary mr-1">{{ tag.theme.name }}</div>
        {% endfor %}
      </div>
      {% endif %}
      <h2 class="text-white text-2xl">{{ org.name }}</h2>
      {% if not search %}
      <p class="text-gray-400">{{ org.description|truncatewords:10}}</p>
      {% endif %}
    </div>
  </div> 
</div>
</a>