{% extends 'org_admin/navigation_template.html' %}
{% block page_content %}
<!-- Include stylesheet -->

<!-- Invert button colours on toolbar-->
<style>
    .ql-toolbar > .ql-formats {
        color: white;
        filter: invert(1);
    }

    .ql-toolbar {
        border-radius: 1rem 1rem 0 0;
    }

 #editor {
    
        border-radius: 0 0 1rem 1rem;
    }

    .ql-editor {
        border-radius: 0 0 1rem 1rem;
        height: 18rem;
        overflow-y: scroll;
    }
</style>

<div class="flex items-center gap-5">
<button class="btn btn-sm btn-primary" hx-get="/org_admin/email_portal/" hx-push-url="true" hx-swap="outerHTML" hx-target=".htmx-navigator">
    <i class="fa-solid fa-arrow-left"></i>
    Back
</button>
<p class="text-2xl font-bold">Email Editor</p>
</div>
<div class="divider"></div>

{% if error %}
{% include "commonui/error.html" %}
{% endif %}

{% if success %}
{% include "commonui/success.html" %}
{% endif %}

<form class="p-5 bg-base-200 rounded-xl" action="/org_admin/email_portal/save_draft/" method="post">
    {% csrf_token %}

    <input type="hidden" name="email_id" value="{{draft_id}}">

    <label for="email_subject">Email Subject</label><br>
    <input class="input input-bordered" value="{{subject}}" type="text" class="form-control" id="email_subject" name="email_subject" required>

    <div class="divider"></div>

    <label  for="email_recipients">Email Recipients:</label><br>


    <div class="flex flex-col gap-2">

     <div class="flex gap-2"> 
      <input class="radio" type="radio" id="email_target_recipients" name="email_target_recipients" value="volunteers" {% if not draft %}checked{% endif %} {%if draft.email_target_recipients == 'volunteers'%}checked{%endif%}>
      <label for="all_users">All Volunteers</label>
     </div>

    <div class="flex gap-2">
    <input class="radio" type="radio" id="email_target_recipients" name="email_target_recipients" value="admins" {%if draft.email_target_recipients == 'admins'%}checked{%endif%}>
    <label for="all_users">All Organisation Admins</label>
    </div>

    <div class="flex gap-2">
      <input class="radio" type="radio" id="email_target_recipients" name="email_target_recipients" value="all_org_volunteers" {%if draft.email_target_recipients == 'all_org_volunteers'%}checked{%endif%}>
      <label for="all_users">All Organisation Volunteers</label>
    </div>

    <!-- dropdown for orgs -->
     <select class="select select-bordered w-full" name="org_id" id="org_id">
        <option value="" selected disabled>Select Organisation</option>
        {% for org in orgs %}
        <option value="{{org.id}}" {% if draft and draft.organisation == org %}selected{% endif %}>{{org.name}}</option>
        {% endfor %}
    </select>

    <div class="flex gap-2">
      <input class="radio" type="radio" id="email_target_recipients" name="email_target_recipients" value="all_opp_volunteers" {%if draft.email_target_recipients == 'all_opp_volunteers'%}checked{%endif%}>
      <label for="all_users">All Opportunity Volunteers</label>
    </div>

    <select class="select select-bordered w-full" name="opp_id" id="opp_id">
        <option value="" selected disabled>Select Opportunity</option>
        {% for opp in opps %}
        <option value="{{opp.id}}" {% if draft and draft.opportunity == opp %}selected{% endif %}>{{opp.organisation.name}} - {{opp.name}}</option>
        {% endfor %}
    </select>

    

  </div>

    <div class="divider"></div>

        <div id="editor"></div>

    <div class="divider"></div>

    <div class="flex justify-end gap-3">
        <button type="submit" class="btn btn-primary mt-5" >Save</button>
    </div>
</form>




<!-- Initialize Quill editor -->
<script>


    var initialData = {
        data:{% if draft %}{{email_quill|safe}}{%else%}[]{%endif%}
        ,
      };


    function formsetup() {

      //make select required based on radio button
      const radioButtons = document.querySelectorAll('input[name="email_target_recipients"]');
      const orgSelect = document.getElementById('org_id');
      const oppSelect = document.getElementById('opp_id');

      radioButtons.forEach((radio) => {
        radio.addEventListener('change', (e) => {
          if (e.target.value == 'all_org_volunteers') {
            orgSelect.required = true;
            oppSelect.required = false;
          } else if (e.target.value == 'all_opp_volunteers') {
            orgSelect.required = false;
            oppSelect.required = true;
          } else {
            orgSelect.required = false;
            oppSelect.required = false;
          }
        });
      });


    const quill = new Quill('#editor', {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline'],
            ['link', 'blockquote', 'code-block'],
            [{ list: 'ordered' }, { list: 'bullet' }],

          ],
        },
        theme: 'snow',
      });

      const resetForm = () => {
        quill.setContents(initialData.data);
      };
      
      resetForm();
      
      const form = document.querySelector('form');
      form.addEventListener('formdata', (event) => {
        // Append Quill content before submitting
        event.formData.append('quill_delta', JSON.stringify(quill.getContents().ops));
        event.formData.append('quill_html', quill.getSemanticHTML());
      });
    }

    {% if hx %}
    document.addEventListener('htmx:afterSettle', function(event) {
        formsetup();
    });
    {% else %}
      document.addEventListener('DOMContentLoaded', function() {
        formsetup();
    });
    {% endif %}


</script>



{% endblock %}