<ul class="h-24 nav justify-content-center sticky-bottom bg-body-tertiary">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Explore</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Upcoming</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
    <li class="nav-item">
      <a class="nav-link">Profile</a>
    </li>
  </ul> 