{% extends 'rota/schedule_template.html' %}

{% block page_content %}

    <p class="text-2xl font-bold">Shifts for: {{ occurrence.one_off_date.opportunity.name }}</p>
    <p>{{ occurrence.date }}</p>
    <p>{{ occurrence.start_time|time:"H:i" }} - {{ occurrence.end_time|time:"H:i" }}</p>

    <div class="divider"></div>

    <div class="flex flex-col p-5 bg-base-200 rounded-md mb-3">
        <table class="w-full table table-sm">
            <thead>
                <tr>
                    <th>Volunteer Name</th>
                    <th>RSVP Status</th>
                    <th>Checked in</th>
                    <th>Checked out</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for shift in shifts %}
                    <tr class="hover:bg-base-300 border-b border-base-300">
                        <td>{{ shift.registration.volunteer.user.first_name }} {{ shift.registration.volunteer.user.last_name }}</td>
                        <td>{{ shift.rsvp_response }}</td>
                        <td>{% if shift.check_in_time %}{{ shift.check_in_time }}{% else %}-{% endif %}</td>
                        <td>{% if shift.check_out_time %}{{ shift.check_out_time }}{% else %}-{% endif %}</td>
                        <td>
                            {% if shift.check_in_time and shift.check_out_time %}
                            -
                            {% elif shift.check_in_time%}
                                <button class="btn btn-primary btn-sm"
                                hx-get="/supervisor/checkin/{{ shift.id }}/"
                                hx-swap="outerHTML"
                                hx-target=".htmx-navigator">
                                Check out
                                </button>
                            {% else %}
                                <button class="btn btn-primary btn-sm"
                                hx-get="/supervisor/checkin/{{ shift.id }}/"
                                hx-swap="outerHTML"
                                hx-target=".htmx-navigator">
                                Check In
                                </button>

                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>

{% endblock %}
