<div class="p-5 rounded-lg bg-base-200 mb-3">
  <div class="flex justify-between items-center">
    <p class="text-xl">Benefits</p>
    <button
      class="btn btn-primary"
      hx-get="/org_admin/opportunities/manage_benefit/{{opportunity.id}}/"
      hx-on:htmx:after-request="my_modal_2.showModal();"
      hx-target="#modalDiv"
      hx-swap="innerHTML"
    >
      Add
    </button>
  </div>

<div class="divider"></div>


  <div class="flex flex-col">
    {% if benefits %} 
    {% for benefit in benefits %}
    <div class="flex justify-between items-center bg-secondary-200 my-2">
      <img class="invert h-16 w-16 p-2" src="{{benefit.icon.icon.url}}"></img>
      <p class="text flex-grow ml-5">{{ benefit.description }}</p>
      <div>
      <button
        class="btn btn-primary"
        hx-get="/org_admin/opportunities/manage_benefit/edit/{{ benefit.id }}/"
        hx-on:htmx:after-request="my_modal_2.showModal();"
        hx-target="#modalDiv"
        hx-swap="innerHTML"
      >
        Edit
      </button>
      <a
        href="/org_admin/opportunities/manage_benefit/delete/{{ benefit.id }}/"
        class="btn bg-red-600"
        >Delete</a
      >
    </div>
    </div>
    {% endfor %} {% else %}
    <p>No benefits have been added yet</p>
    {% endif %}
  </div>

  {% with active_link="benefits" %} {% include "org_admin/partials/tabs.html" %}
  {% endwith %}
</div>
