<div class="p-5 rounded-lg bg-base-200 mb-3" hx-push-url="false">

    <div>
        <div class="flex justify-between items-center">
        <p class="text-xl">Tags</p>
        </div>
        <div class="divider"></div>
      
      <div class="flex">
        <form class="flex">
          {% csrf_token %}
          <input name="tag" type="text" placeholder="Type to add a tag" class="input input-bordered w-full max-w-xs" />
          <button class="btn bg-green-600" hx-target=".htmx-navigator" hx-post="/org_admin/opportunities/manage_tag/{{opportunity.id}}/" hx-swap="outerHTML" >Add</button>
        </form>
      </div>
      <div class="divider"></div>
      <p class="text-xl">Current Tags</p>
      <p>Click on a tag to delete it</p>
      <div class="flex flex-wrap">

        
        {% for tag in tags %}
        <a hx-swap="outerHTML" hx-target=".htmx-navigator" hx-get="/org_admin/opportunities/manage_tag/delete/{{opportunity.id}}/{{tag.id}}/"><div class="badge badge-primary mx-1 cursor-pointer">{{ tag.tag.tag }}</div></a>
        {% endfor %}
    </div>


</div>

{% with active_link="tags" %}
{% include "org_admin/partials/tabs.html" %}
{% endwith %}