
<div class="p-5 rounded-lg bg-base-200 mb-3" hx-push-url="false">

    <div class="flex justify-between items-center">
      <p class="text-xl mr-3">Additional Information</p>
      <p>Add any additional information you would like to ask volunteers. Note that these need to be assigned to opportunities. Try to use Chip In system values where possible. You can add or manage your own information on the Additional Information Menu.</p>
    </div>
  <div class="divider"></div>
  {% if supp_infos %}
  <table class="table w-full">
    
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for info in supp_infos %}
      <tr>
        <td>{{ info.info.title }}</td>
        <td>{{info.info.description}}</td>
        <td>
          <a
            hx-get="/org_admin/opportunities/supp_info/delete/{{ info.id }}/"
            class="btn bg-red-600 btn-xs"
            hx-target=".htmx-navigator"
            hx-swap="outerHTML"
            >Unlink</a
          >
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else%}
  No Supplemental Information questions added yet
  {%endif%}
  
  <div class="divider"></div>
  
    <form class="flex w-full">
      {% csrf_token %}
      
      <select class="select select-bordered flex-grow" name="supp_id">
        {% for info in avail_supp_infos %}
        <option value="{{ info.id }}">{% if info.organisation == None %}Chip In System - {%endif%}{{ info.title }}</option>
        {% endfor %}
      </select>
      <button class="btn btn-primary self-end" hx-post="/org_admin/opportunities/supp_info/{{opportunity.id}}/" hx-target=".htmx-navigator" hx-swap="outerHTML">
        Add
      </button>
    </form>

  </div>

  {% with active_link="additional_info" %}
{% include "org_admin/partials/tabs.html" %}
{% endwith %}