
<table class="table" id="reg-table">
    
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Volunteering for</th>
            <th>Registered on</th>
            <th>Registration Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% if registrations|length != 0%}
        {% for registration in registrations %}
        <tr>
            <td>
                <input type="checkbox" class="checkbox checkbox-primary" name="registration_ids" value="{{registration.id}}" {% if registration.get_registration_status == "stopped" or registration.get_registration_status == "completed"%}disabled{% endif%}>
            </td>

            <td>{{registration.volunteer.user.first_name}} {{registration.volunteer.user.last_name}}</td>
            <td>{{registration.opportunity.organisation.name}}</td>
            <td>{{registration.opportunity.name}}</td>
            <td>{{registration.date_created}}</td>
            <td>{{registration.get_registration_status}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="6">
                Showing {{registrations|length}} registrations
            </td>
        {% else %}
        <tr>
            <td colspan="6" class="text-center">No registrations found</td>
        </tr>
        {% endif %}
    </tbody>

    
</table>
