<!--
<div class="bg-secondary rounded-lg p-5 mt-3">
    <p class="text-2xl">Key metrics</p>
    <div class="divider"></div>
    <div class="flex basis-1/3">
        <div class="flex flex-col">
            <p>Number of sign ups:</p> 
            <p>{{ sign_ups }}</p>
        </div>
        <div class="divider divider-horizontal"></div>
        <div class="flex flex-col ">
            <p>Total views on opportunities:</p>
            <p>{{ total_views }}</p>
        </div>
        <div class="divider divider-horizontal"></div>
        <div>
            <p>Mentoring hours:</p>
            <p>{{ mentoring_sessions }} accross {{mentee_count}} mentees</p>
        </div>

    </div>

</div>
-->

<div class="bg-secondary rounded-lg p-5 mt-3">
<p class="text-2xl">Opportunities</p>
<div class="text-secondary-content">
    <div class="divider"></div>
    <p>This contains the following information (For the given date range):</p>
<ul class="list-disc pl-3">
    <li>Opportunity Name</li>
    <li>Opportunity Description</li>
    <li>Organisation Name</li>
    <li>Number of sign ups</li>
    <li>Total views</li>
</ul>
</div>
<div class="divider"></div>
<button class="btn btn-primary">Download selected to CSV</button>
<button class="btn bg-green-700">Download all</button>
</div>



<div class="bg-secondary rounded-lg p-5 mt-3">
<p class="text-2xl">Mentoring Data</p>
<div class="text-secondary-content">
    <div class="divider"></div>
    <p>This contains the following information (For the given date range):</p>
<ul class="list-disc pl-3">
    <li>Mentee Name</li>
    <li>Mentor Name</li>
    <li>Organisation Name</li>
    <li>Session Notes</li>
    <li>Session Date</li>
    <li>Session Duration</li>
</ul>
</div>
<div class="divider"></div>
<button class="btn btn-primary">Download selected to CSV</button>
<button class="btn bg-green-700">Download all</button>
</div>

<div class="bg-secondary rounded-lg p-5 mt-3">
    <p class="text-2xl">Volunteer Data</p>
    <div class="text-secondary-content">
        <div class="divider"></div>
        <p class="">This contains the following information:</p>
        <ul class="list-disc pl-3">
            <li>Volunteer Name</li>
            <li>Volunteer Email</li>
            <li>Number of Opportunities Signed Up For</li>
            <li>Number of Mentoring Sessions</li>
        </ul>
    </div>
    <div class="divider"></div>
    <button class="btn btn-primary">Download selected to CSV</button>
    <button class="btn bg-green-700">Download all</button>
</div>




<div class="bg-secondary rounded-lg p-5 mt-3">
<p class="text-2xl">Organisation Data</p>
<div class="text-secondary-content">
    <div class="divider"></div>
<p class="">This contains the following information:</p>
<ul class="list-disc pl-3">
    <li>Organisation Name</li>
    <li>Organisation Description</li>
    <li>Organisation Volunteer Count</li>
    <li>Organisation Opportunity Count</li>
</ul>
</div>
<div class="divider"></div>
<button class="btn btn-primary">Download all organisation data to CSV</button>
</div>




