{% extends "commonui/navigation-template.html" %}

{% block page_content %}


<div class="w-full rounded-xl mb-5">

  <style>

    .splide__slide img {
      height: 100%;
      width: auto;
      margin: 0 auto;
    }

    .splide__arrow:disabled {
      display: none;
    }
  </style>
  
  <section id="image-carousel" class="splide" aria-label="Beautiful Images">
    <div class="splide__track">
      <ul class="splide__list">
        {% for image in opp_images %}
        {% for video in opp_videos %}
          <li class="splide__slide" data-splide-html-video="{{video.video.url}}">
            <img src="{{video.video_thumbnail.url}}">
          </li>
        {% endfor %}
          <li class="splide__slide bg-black">
            <img src="{{image.image.url}}" alt="">
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  
  <script>
    var isLoaded = false;

    function initSplide(){
      if(isLoaded){
        return;
      }

      new Splide("#image-carousel", {
        heightRatio: 0.5,
      }).mount(window.splide.Extensions);
      isLoaded = true;
    }
    
    document.addEventListener("htmx:afterSettle", function () {
      initSplide();
    });

    document.addEventListener("DOMContentLoaded", function () {
      initSplide();
    });
    
  </script>

  
</div>

  <div class="card w-full bg-base-300 shadow-xl mb-5">
    <div class="card-body">

      <div class="flex">
        <div>
          <img src="{{ opportunity.organisation.logo.url }}" alt="logo" class="w-20 h-20 rounded-lg mr-3">
        </div>
        <div class="flex flex-col justify-between">
          <h2 class="card-title">{{ opportunity.name }}</h2>
          <button class="btn btn-sm rounded-full" hx-get="/organisations/{{ opportunity.organisation.id }}" hx-target=".htmx-navigator"  hx-push-url="true" hx-swap="outerHTML">{{ opportunity.organisation.name}}</button>
          
        </div>


      </div>

      
      <div class="divider my-1"></div> 
      <div class="flex w-full justify-center">
      <button class="btn btn-primary rounded-xl max-w-48" id="shareButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
          <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"/>
        </svg>
        Share
      </button>
    </div>
      <div class="divider my-1"></div> 
      <p>{{ opportunity.description }}</p>
      <div class="divider my-1"></div> 
      {% if linked_tags|length != 0 %}
      <div class="flex flex-wrap w-full">
      {% for tag in linked_tags %}
        
        <div class="badge badge-lg m-1 border-none" style="background: linear-gradient(45deg, {{tag.tag.hex_colour}} 0%, {{tag.tag.hex_colour}} 80%, {{tag.tag.hex_colour_to}});">
        
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" class="bi bi-tag-fill mr-3" viewBox="0 0 16 16">
            <path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
          </svg>
          <p class="text-black">{{ tag.tag.tag }}</p>
        </div>
      
      {% endfor %}
    </div>
      <div class="divider my-1"></div> 
      {%endif%}
      <div class="card-actions justify-center">
        <button class="btn btn-primary {% if exists %} btn-disabled {%endif%}" hx-get="/opportunities/{{ opportunity.id }}/register" hx-target=".htmx-navigator"  hx-push-url="true" hx-swap="outerHTML">{% if exists %} You are already Registered {% else %} Register {% endif %}</button>
        <button class="btn btn-primary" hx-target=".htmx-navigator" hx-get="/organisations/{{ opportunity.organisation.id }}/create_chat/">Ask A Question</button>
      </div>
    </div>
  </div>

  <div class="card w-full bg-base-300 shadow-xl mb-5">
    <div class="card-body">
      <h2 class="card-title">When do I volunteer?</h2>
      <div class="divider"></div> 
      <div class="card-actions justify-center">
        <table class="table">

          {% if opportunity.recurrences.rrules|length != 0%}

            <tr>
                <th>Recurring</th>
                <td>
                    {% for rule in text_rules_inclusion %}
                        {{ rule }}<br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Start date</th>
                <td>{{ opportunity.recurrences.dtstart|date:"d/m/Y (l)" }}</td> <!-- DD/MM/YY (Saturday)-->
            </tr>
            <tr>
                <th>End date</th>
                <td>{{ opportunity.recurrences.dtend|date:"d/m/Y" }}</td>
            </tr>

            {% endif %}

            {% if opportunity.recurrences.rdates|length != 0 %}

            <tr>
                <th>Dates</th>
                <td>
                    {% for rdate in opportunity.recurrences.rdates %}
                        {{ rdate|date:"d/m/Y (l)" }}<br>
                    {% endfor %}
                </td>
            </tr>

            {% endif %}

            <tr>
                <th>Timings</th>
                <td>{{ opportunity.start_time|date:"H:i" }} - {{ opportunity.end_time|date:"H:i" }}</td>
            </tr>

        </table>
      </div>
    </div>
  </div>

  {% if benefits|length > 0 %}
  <div class="card w-full bg-base-300 shadow-xl mb-5">
    <div class="card-body">
      <h2 class="card-title">What will I get from this opportunity?</h2>
      <div class="divider"></div> 
      <div class="card-actions">
        <ul class="list-disc w-full">
            {% for benefit in benefits %}
                <li class="flex items-center p-1 rounded-xl border border-gray-400 w-full mb-2">
                  <img class="dark:invert h-16 w-16 p-2" src="{{benefit.icon.icon.url}}"></img>
                  <div class="divider divider-vertical"></div>
                  <p>{{ benefit.description }}</p>
                </li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  {% for section in sections%}
  <div class="card w-full bg-base-300 shadow-xl mb-5">
    <div class="card-body">
      <h2 class="card-title">{{ section.title }}</h2>
      <div class="divider"></div> 
      <div class="card-actions">
        <p>{{ section.content }}</p>
      </div>
    </div>
  </div>
  {% endfor %}

  {% if locations %}
<div class="card w-full bg-base-300 shadow-xl mb-5">
  <div class="card-body">
    <h2 class="card-title">Locations</h2>
    <div class="divider"></div> 

    <table class="table w-full">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        {% for site in locations %}
        <tr>
          <td>{{ site.name }}</td>
          <td>{{ site.address}}</td>
          <td>
            <a href="https://www.google.com/maps/dir/?api=1&origin=&destination=b&destination_place_id={{site.place_id}}&travelmode=walking" target="_blank"><button class="btn btn-primary">Check directions</button></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <div class="divider"></div> 
    
    <script type="module">
      let map;
  
      async function initMap() {

        const { Map } = await google.maps.importLibrary("maps");
        map = new Map(document.getElementById("map"), {
          center: { lat: {{locations.0.latitude}}, lng: {{locations.0.longitude}} },
          zoom: 18,
        });

        {% for site in locations %}
        new google.maps.Marker({
          position: { lat: {{site.latitude}}, lng: {{site.longitude}} },
          map,
          title: "{{ site.name }}",
        });
        {% endfor %}
      
      }
  
      initMap();  
      </script>
      <div id="map" class="w-full h-96"></div>


  </div>
</div>
{% endif %}

{% if supp_info_reqs|length > 0 %}
<div class="card w-full bg-base-300 shadow-xl mb-5">
  <div class="card-body">
    <h2 class="card-title">Information you will have to provide:</h2>
    <div class="divider"></div> 
    <div class="card-actions">
      <ul class="list-disc w-full">
          {% for req in supp_info_reqs %}
              <li class="ml-3">
                <p>{{ req.info.title }}</p>
              </li>
          {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

<script>
  var shareButton = document.getElementById('shareButton');

  shareButton.addEventListener('click', event => {
    if (navigator.share) {
      navigator.share({
        title: '{{opportunity.name}}',
        url: 'https://volunteerapp.makingrooms.org/opportunities/{{ opportunity.id }}/'
      }).then(() => {
        console.log('Thanks for sharing!');
      })
      .catch(console.error);
    } else {
      //copy to clipboard and change button text
      navigator.clipboard.writeText('https://volunteerapp.makingrooms.org/opportunities/{{ opportunity.id }}/');
      shareButton.innerHTML = 'Link Copied';
    }
  });
</script>

{% endblock %}
