{% extends "commonui/navigation-template.html" %}

{% block page_content %}


<div class="w-full rounded-xl mb-5">

  <style>
    .splide__slide img {
      width: 100%;
      height: auto;
    }
  </style>
  
  <section id="image-carousel" class="splide" aria-label="Beautiful Images">
    <div class="splide__track">
      <ul class="splide__list">
        {% for image in opp_images %}
          <li class="splide__slide">
            <img src="{{image.image.url}}" alt="">
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  
  <script>
    document.addEventListener( 'DOMContentLoaded', function () {
      new Splide( '#image-carousel', {
        heightRatio: 0.5,
      } ).mount();
    } );
  </script>
  
</div>

  <div class="card w-full bg-base-300 shadow-xl mb-5">
    <div class="card-body">
      <h2 class="card-title">{{ opportunity.name }}</h2>
      <button class="btn rounded-full" hx-get="/organisations/{{ opportunity.organisation.id }}" hx-target=".htmx-navigator"  hx-push-url="true" hx-swap="outerHTML">{{ opportunity.organisation.name}}</button>
      <div class="divider"></div> 
      <p>{{ opportunity.description }}</p>
      <div class="divider"></div> 
      <div class="card-actions justify-center">
        <button class="btn btn-primary {% if exists %} btn-disabled {%endif%}" hx-get="/opportunities/{{ opportunity.id }}/register" hx-target=".htmx-navigator"  hx-push-url="true" hx-swap="outerHTML">{% if exists %} You are already Registered {% else %} Register {% endif %}</button>
        <button class="btn btn-primary" hx-target=".htmx-navigator" hx-get="/organisations/{{ opportunity.organisation.id }}/create_chat/">Ask A Question</button>
      </div>
    </div>
  </div>

  <div class="card w-full bg-base-300 shadow-xl mb-5">
    <div class="card-body">
      <h2 class="card-title">Role Schedule</h2>
      <div class="divider"></div> 
      <div class="card-actions justify-center">
        <table class="table">
            <tr>
                <th>Start date</th>
                <td>{{ opportunity.start_date }}</td>
            </tr>
            <tr>
                <th>End date</th>
                <td>{{ opportunity.end_date }}</td>
            </tr>

            <tr>
                <th>Recurring</th>
                <td>
                    {% for rule in text_rules_inclusion %}
                        {{ rule }}<br>
                    {% endfor %}
                </td>
            </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card w-full bg-base-300 shadow-xl mb-5">
    <div class="card-body">
      <h2 class="card-title">Role Details</h2>
      <div class="divider"></div> 
      <div class="card-actions">
        <ul>
            {% for benefit in benefits %}
                <li>{{ benefit.description }}</li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  {% if locations %}
<div class="card w-full bg-base-300 shadow-xl mb-5">
  <div class="card-body">
    <h2 class="card-title">Location</h2>
    <div class="divider"></div> 
    
    
    <script type="module">
      let map;
  
      async function initMap() {

        const { Map } = await google.maps.importLibrary("maps");
        map = new Map(document.getElementById("map"), {
          center: { lat: {{locations.0.latitude}}, lng: {{locations.0.longitude}} },
          zoom: 18,
        });

        {% for site in locations %}
        new google.maps.Marker({
          position: { lat: {{site.latitude}}, lng: {{site.longitude}} },
          map,
          title: "{{ site.name }}",
        });
        {% endfor %}
      
      }
  
      initMap();
  
      </script>
      <div id="map" class="w-full h-96"></div>
    <div class="divider"></div> 
    <div class="card-actions justify-center">
      <a href="https://www.google.com/maps/dir/?api=1" class="btn btn-primary">Check directions</a>
    </div>
  </div>
</div>
{% endif %}

<!--


<div class="m-4 h-100">
    <div class="card mb-4">
        <div class="card-header">
            Opportunity details
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ opportunity.name }}</h5>
            <p class="card-text">{{ opportunity.description }}</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            Timings
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>Start date</th>
                    <td>{{ opportunity.start_date }}</td>
                </tr>
                <tr>
                    <th>End date</th>
                    <td>{{ opportunity.end_date }}</td>
                </tr>

                <tr>
                    <th>Recurring</th>
                    <td>
                        {% for rule in text_rules_inclusion %}
                            {{ rule }}<br>
                        {% endfor %}
                    </td>
                </tr>
            </table>

                

        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            Benefits
        </div>
        <div class="card-body">
            <ul>
                {% for benefit in benefits %}
                    <li>{{ benefit.description }}</li>
                {% endfor %}

        </div>
    </div>

</div>

-->
{% endblock %}
