<div class="card mb-3">
<div class="card-header d-flex flex-row align-items-center">
    <div class="flex-grow-1">
        Emergency Contact
    </div>

    <a
        class="btn btn-danger"
        style="width: 6rem;"
        href="#"
        role="button"
        onclick="this.parentElement.parentElement.remove()"
        >Delete</a
    >
    
</div>

<div class="card-body">
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Name" id="emergencyContactName" name={{ name }}>
    </div>
    <div class="row mb-3">
        <div class="col">
          <input type="email" class="form-control" placeholder="Email" aria-label="Email" name={{ email }}>
        </div>
        <div class="col">
          <input type="tel" class="form-control" placeholder="Phone" aria-label="Phone Number" name={{ phone }}>
        </div>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Relationship to you" id="emergencyContactRelationship" name={{ relationship }}>
    </div>
</div>


</div>

