{% extends 'commonui/navigation-template.html' %} {% block page_content %}
<div>
  <div class="card w-full bg-base-200 mb-3">
    <div class="card-body p-5">
      <div class="card-actions items-center">
        <p class="text-2xl font-bold">About You</p>
        <button
          class="btn btn-primary"
          hx-get="/volunteer/volunteer_form"
          hx-on:htmx:after-request="my_modal_2.showModal();"
          hx-target="#modalDiv"
          hx-swap="innerHTML"
        >
          Update
        </button>
      </div>
      <div class="divider my-2"></div>

      <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <tbody>
            <!-- row 1 -->
            <tr>
              <th>Name</th>
              <td>{{user.first_name}} {{user.last_name}}</td>
            </tr>
            <!-- row 2 -->
            <tr>
              <th>Date of Birth</th>
              <td>{{volunteer.date_of_birth}}</td>
            </tr>
            <!-- row 3 -->
            <tr>
              <th>Email</th>
              <td>{{ user.email }}</td>
            </tr>
            <!-- row 4 -->
            <tr>
              <th>Phone Number</th>
              <td>{{volunteer.phone_number}}</td>
            </tr>
            <!-- row 5 -->
            <tr>
              <th>Bio</th>
              <td>{{volunteer.bio}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% if forms %}
  <div class="card w-full bg-base-200 mb-3">
    <div class="card-body p-5">
      <div class="card-actions items-center">
        <p class="text-2xl font-bold">Forms</p>
      </div>
      <div class="divider my-2"></div>

      <div class="overflow-x-auto">

        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th>Form Name</th>
              <th>Form Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            {% for form in forms %}
            <tr>
              <td>{{ form.form.name }}</td>
              <td>{{ form.form.description }}</td>
              <td>
                <a class="btn btn-primary" href="/forms/{{form.form.id}}/">Complete Form</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
{% endif %}
  <div class="card w-full bg-base-200 mb-3">
    <div class="card-body p-5">
      <div class="card-actions items-center">
        <p class="text-2xl font-bold">Emergency Contacts</p>
        <button
          class="btn btn-primary"
          hx-get="/volunteer/emergency_contact_form/"
          hx-on:htmx:after-request="my_modal_2.showModal();"
          hx-target="#modalDiv"
          hx-swap="innerHTML"
        >
          Add
        </button>
      </div>
      <div class="divider my-2"></div>

      <div class="overflow-x-auto">
        <div class="overflow-x-auto">
          {% if emergency_contacts|length > 0 %}
          <table class="table">
            <!-- head -->
            <thead>
              <tr>
                <th>Name</th>
                <th>Relation</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <!-- row 1 -->

              {% for contact in emergency_contacts %}
              <tr>
                <th>{{ contact.name }}</th>
                <td>{{ contact.relation }}</td>
                <td>{{ contact.phone_number }}</td>
                <td>{{ contact.email }}</td>
                <td>
                  <button
                    class="btn btn-primary"
                    hx-get="/volunteer/emergency_contact_form/{{ contact.id }}"
                    hx-on:htmx:after-request="my_modal_2.showModal();"
                    hx-target="#modalDiv"
                    hx-swap="innerHTML"
                  >
                    Edit
                  </button>
                </td>
                <td><a class="btn bg-red-600" hx-get="/volunteer/emergency_contact_form/{{ contact.id }}/delete">Delete</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          {% else %}
          <p>No emergency contacts added</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="card w-full bg-base-200 mb-3">
    <div class="card-body p-5">
      <div class="card-actions items-center">
        <p class="text-2xl font-bold">Addresses</p>
        <button
          class="btn btn-primary"
          hx-get="/volunteer/volunteer_address_form/"
          hx-on:htmx:after-request="my_modal_2.showModal();"
          hx-target="#modalDiv"
          hx-swap="innerHTML"
        >
          Add
        </button>
      </div>
      <div class="divider my-2"></div>

      <div class="overflow-x-auto">
        <div class="overflow-x-auto">
          {% if addresses|length > 0 %}
          <table class="table">
            <!-- head -->
            <thead>
              <tr>
                <th>First Line</th>
                <th>Second Line</th>
                <th>Postcode</th>
                <th>City</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <!-- row 1 -->

              {% for address in addresses %}
              <tr>
                <th>{{ address.first_line }}</th>
                <td>{{ address.second_line }}</td>
                <td>{{ address.postcode }}</td>
                <td>{{ address.city }}</td>
                <td>
                  <button
                    class="btn btn-primary"
                    hx-get="/volunteer/volunteer_address_form/{{ address.id }}"
                    hx-on:htmx:after-request="my_modal_2.showModal();"
                    hx-target="#modalDiv"
                    hx-swap="innerHTML"
                  >
                    Edit
                  </button>
                </td>
                <td><a class="btn bg-red-600" hx-get="/volunteer/volunteer_address_form/{{ address.id }}/delete">Delete</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>No addresses added</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="card w-full bg-base-200 mb-3">
    <div class="card-body p-5">
      <div class="card-actions items-center">
        <p class="text-2xl font-bold">Conditions</p>
        <button
          class="btn btn-primary"
          hx-get="/volunteer/volunteer_conditions_form/"
          hx-on:htmx:after-request="my_modal_2.showModal();"
          hx-target="#modalDiv"
          hx-swap="innerHTML"
        >
          Add
        </button>
      </div>
      <div class="divider my-2"></div>

      <div class="overflow-x-auto">
        <div class="overflow-x-auto">
          {% if conditions|length > 0 %}
          <table class="table">
            <!-- head -->
            <thead>
              <tr>
                <th>Details</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for condition in conditions %}
              <tr>
                <td>{{ condition.disclosures }}</td>
                <td>
                  <button
                    class="btn btn-primary"
                    hx-get="/volunteer/volunteer_conditions_form/{{ condition.id }}"
                    hx-on:htmx:after-request="my_modal_2.showModal();"
                    hx-target="#modalDiv"
                    hx-swap="innerHTML"
                  >
                    Edit
                  </button>
                </td>
                <td><a class="btn bg-red-600" hx-get="/volunteer/volunteer_conditions_form/{{ condition.id }}/delete">Delete</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>No conditions disclosed</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>


  <div class="card w-full bg-base-200 mb-3">
    <div class="card-body p-5">
      <div class="card-actions items-center">
        <p class="text-2xl font-bold">Additional Information</p>
      </div>

      <div class="divider my-2"></div>

      <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Organisation</th>
              <th>Data</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            {% for info in supp_info %}
            <tr>
              <td>{{info.info.title}}</td>
              <td>{{info.info.description}}</td>
              <td>
                {% if info.info.organisation %}
                {{info.info.organisation.name}}
                {% else %}
                Chip in System
                {% endif %}
              </td>
              <td>{{ info.data }}</td>
              <td>
                <button
                  class="btn btn-primary"
                  hx-get="/volunteer/volunteer_supplementary_info_form/{{ info.id }}"
                  hx-on:htmx:after-request="my_modal_2.showModal();"
                  hx-target="#modalDiv"
                  hx-swap="innerHTML"
                >
                  Edit
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="card w-full bg-base-200 mb-3 p-3">
    <button
      class="btn btn-primary mb-3"
      hx-get="logout"
      hx-target=".htmx-navigator"
      hx-push-url="true"
      hx-swap="outerHTML"
    >
      Sign Out
    </button>
    <button onclick="registerSw()" class="btn btn-primary mb-3">
      Enable Push Notifications
    </button>

    <button hx-on:click="toggleTheme()" class="btn btn-primary mb-3">
      Toggle Dark/Light Mode
    </button>
</div>






</div>

<!-- Open the modal using ID.showModal() method -->
<dialog id="my_modal_2" class="modal">
  <div id="modalDiv" class="modal-box">
    <h3 class="font-bold text-lg">Hello!</h3>
    <p class="py-4">Press ESC key or click outside to close</p>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>



{% include "navbar.html" %}

{% endblock %}
