{% extends 'commonui/navigation-template.html' %}

{% block page_content %}

<div class="h-100 p-3">
<div class="card mb-3">
    <div class="card-header">About you</div>
    <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">Emergency Contacts</div>
    <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">Conditions</div>
    <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">Registrations</div>
    <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
    </div>
</div>

</div>
{% endblock %}