{% extends 'commonui/navigation-template.html' %}

{% block page_content %}

    <button
            class="btn btn-primary btn-sm mb-3"
            hx-get="/volunteer/your-opportunities/"
            hx-target=".htmx-navigator"
            hx-swap="outerHTML"
    >
        ↩ Back
    </button>

<form>
        {% csrf_token %}

        <div class="card w-full bg-base-200 mb-3">
            <div class="card-body p-5">

            <p>Please not that updating preferences will not cancel any shifts assigned to you. Please update your availability for shifts on the shifts screen.</p>
            <div class="divider"></div>

                {% csrf_token %}
                {% if roles|length > 0 %}
                    <p class="text-xl mb-3">Which roles are you interested in?</p>
                    <div class="flex flex-col gap-3">
                        {% for role in roles %}
                            <div class="flex items-center gap-x-3">
                                <input
                                    class="checkbox checkbox-primary"
                                    type="checkbox"
                                    {% if opportunity.rota_config == "PER_ROLE" %}
                                    hx-trigger="change"
                                    hx-post="/opportunities/{{opportunity.id}}/get_dates/"
                                    hx-target="#deduplicated_dates"
                                    hx-swap="innerHTML"
                                    hx-disabled-elt="#register-submit"
                                    {% endif %}
                                    name="roles_{{ role.id }}"
                                    id="{{ role.id }}"
                                    {% if role.id in volunteer_roles %}checked{% endif %}
                                >
                                <label for="{{ role.id }}">
                                {{ role.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="divider"></div>


            <div id="deduplicated_dates">
                {% if dates|length > 0 %}
                    <p class="text-xl mb-1">Please indicate your availability:</p>
                    <div class="flex flex-col gap-3">
                        {% for d in dates %}
                            <div class="flex items-center gap-x-3">
                                <input
                                        class="checkbox checkbox-primary"
                                        type="checkbox"
                                        id="schedule{% for id in d.ids %}_{{ id }}{% endfor %}"
                                        name="schedule{% for id in d.ids %}_{{ id }}{% endfor %}"
                                        {% if d.is_checked %}checked{% endif %}
                                />
                                <label for="schedule{% for id in d.ids %}_{{ id }}{% endfor %}">
                                {{ d.date|date:"Y-m-d" }} | {{ d.start_time|date:"H:i" }} - {{ d.end_time|date:"H:i" }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="divider"></div>
                {% endif %}
            </div>


                {% else %}
                    <p>This opportunity has no roles defined. Please contact the organisation.</p>


                {% endif %}

            {% if roles or dates %}
                <button
                    id="register-submit"
                    class="btn btn-primary btn-sm mb-3"
                    hx-post="/volunteer/manage_preferences/{{ registration.id }}/"
                    hx-target=".htmx-navigator"
                    hx-swap="outerHTML"
                >Submit</button>

            {% endif %}

            </div>



        </div>



    </form>

{% endblock %}