{% extends 'commonui/navigation-template.html' %}

{% block page_content %}

{% if page_error == True %}
<div class="alert alert-danger" role="alert">
  The credentials you entered are incorrect
</div>
{% endif %}


<div class="w-full">
  <div class="card shadow-lg p-3">
    <h1 class="text-2xl font-bold text-center mb-3">Sign up</h1>
    <form>
    {% csrf_token %}
    <input id="InputEmail1" name="email" type="email" placeholder="Email" class="input input-bordered w-full mb-3" />
    <input id="InputPassword1" name="password" type="password" placeholder="Password" class="input input-bordered w-full" />
    <input id="InputPassword2" name="password" type="password" placeholder="Password" class="input input-bordered w-full mb-3" />
    <button hx-post="/sign-up" class="btn btn-primary"  hx-target=".htmx-navigator" hx-swap="outerHTML">Submit</button>
  </div>
</div>

{% endblock %}
