{% extends 'org_admin/navigation_template.html' %}

{% block page_content %}
<p class="text-2xl font-bol mb-5">Edit Superform Link</p>

<div class="divider"></div>

{% if error %}
{% include "commonui/error.html" %}
{% endif %}

{% if success %}
{% include "commonui/success.html" %}
{% endif %}

<form action={%if superform%}"/org_admin/superforms/edit/{{ superform.id }}/"{%else%}"/org_admin/superforms/new/"{%endif%} method="POST" class="mb-5">
    {% csrf_token %}

<div class="rounded-xl p-5 bg-base-200 mb-5">
    <p>Link Details</p>
    <div class="divider"></div>
        <input type="text" name="name" value="{{ superform.name }}" class="input input-bordered w-full mb-5" placeholder="Name of the superform" required>
        <textarea name="description" class="textarea textarea-bordered w-full mb-5 min-h-96" placeholder="Description of the superform">{{ superform.description }}</textarea>


        <textarea name="submitted_message" class="textarea textarea-bordered w-full mb-5 h-24" placeholder="Message shown on submit">{{ superform.submitted_message }}</textarea>


        {% if superform %}

        <label class="label cursor-pointer">
            <span class="label-text">Form Link:</span>
        </label>
        <div class="flex">
        <input id="formLink" type="text" name="form_link" value="https://{{ request.get_host }}{% url 'register' superform.id %}" class="input input-bordered w-full mb-5" placeholder="Form Link" readonly>
        <button type="button" class="btn btn-primary ml-5" onclick="copyToClipboard()">Copy</button>
        </div>


        {% endif %}


        <label class="label cursor-pointer">
            <span class="label-text">Is Active</span>
        </label>
        
        <input type="checkbox" name="is_active" value="true" {% if not superform.active %}{%else%}checked{% endif %} class="checkbox checkbox-primary mb-5">

        <label class="label cursor-pointer">
            <span class="label-text">Show individual form titles</span>
        </label>
        <input type="checkbox" name="show_form_titles" value="{%if superform.show_form_titles%}true{%else%}false{%endif%}" {% if not superform.show_form_titles %}{%else%}checked{% endif %} class="checkbox checkbox-primary mb-5">

        <label class="label cursor-pointer">
            <span class="label-text">Show individual form descriptions</span>
        </label>
        <input type="checkbox" name="show_form_descriptions" value="true" {% if not superform.show_form_descriptions %}{%else%}checked{% endif %} class="checkbox checkbox-primary mb-5">
    </div>

<div class="rounded-xl p-5 bg-base-200 mb-5">

        <p>Opportunity</p>
        <div class="divider"></div>
        <div class="form-control">
            <select name="opportunity" class="select select-bordered w-full mb-5">
                {% for opportunity in opportunities %}
                <option value="{{ opportunity.id }}" {% if opportunity == superform.opportunity_to_register %}selected{% endif %}>{{ opportunity.name }} - {{opportunity.organisation.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

<div class="rounded-xl p-5 bg-base-200 mb-5">

        <p>Required forms</p>
        <div class="divider"></div>
        <div class="form-control">
            <select name="required_forms" class="select select-bordered w-full mb-5" multiple>
                {% for form in forms %}
                <option value="{{ form.id }}" {% if form in superform.forms_to_complete.all %}selected{% endif %}>{{ form.name }}</option>
                {% endfor %}
            </select>
            <p>Hold down “Control”, or “Command” on a Mac, to select more than one.</p>
        </div>
    </div>


        <div class="flex justify-end">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>


</form>

<script>
    function copyToClipboard() {
        var copyText = document.getElementById("formLink");

        navigator.clipboard.writeText(copyText.value).then(function() {
            console.log('Text copied to clipboard: ' + copyText.value);
        }, function(err) {
            console.error('Could not copy text: ', err);
        });

    }
</script>

{% endblock %}